/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .comp-header-01 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200; }
    .comp-header-01 .top-banner {
      display: none; }
    .comp-header-01 .bottom {
      background: #FFF;
      box-shadow: 0px 5px 3.9px -4px #00000040; }
      .comp-header-01 .bottom .c-wrapper {
        height: 98px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .comp-header-01 .bottom .c-wrapper #site-logo img {
          height: 40px; }
    .comp-header-01 #menu-primary {
      display: none; }
    .comp-header-01 .mobile-items {
      display: flex;
      align-items: center;
      gap: 14px; }
      .comp-header-01 .mobile-items a {
        display: flex; }

  .menu-header .c-wrapper {
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .menu-header .c-wrapper #menu-logo img {
      height: 40px; }

  .menu-body {
    display: flex;
    flex-direction: column;
    overflow-y: initial !important;
    height: calc(100% - 218px); }
    .menu-body .c-item-01 {
      background: #0C3F6D;
      padding: 0 24px;
      height: 78px;
      display: flex;
      align-items: center;
      font-size: 19px;
      font-weight: 600;
      line-height: 25px;
      letter-spacing: 0em;
      color: #FFFFFF; }
    .menu-body .c-item-02 {
      background: #0066C1;
      height: calc(100% - 78px);
      display: flex;
      flex-direction: column; }
      .menu-body .c-item-02 .c-item-02-A {
        flex: 1;
        overflow-y: auto; }
        .menu-body .c-item-02 .c-item-02-A li {
          border-bottom: 1px solid rgba(255, 255, 255, 0.34);
          height: 68px; }
          .menu-body .c-item-02 .c-item-02-A li a {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 0 24px;
            gap: 16px;
            font-size: 23px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            color: #FFF; }
            .menu-body .c-item-02 .c-item-02-A li a img {
              width: 52px;
              height: 26px; }
      .menu-body .c-item-02 .c-item-02-B {
        padding: 40px 24px;
        display: flex;
        gap: 16px; }
        .menu-body .c-item-02 .c-item-02-B a {
          display: flex; }

  .menu-footer {
    background: #FFF; }
    .menu-footer .c-wrapper {
      height: 120px;
      display: flex;
      align-items: center;
      gap: 16px; } }
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .comp-header-01 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200; }
    .comp-header-01 .top-banner {
      background: #DDF1C4; }
      .comp-header-01 .top-banner .c-wrapper {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 56px; }
        .comp-header-01 .top-banner .c-wrapper .c-item-01 {
          display: flex;
          justify-content: end;
          align-items: center;
          margin-right: 180px;
          flex: 1; }
          .comp-header-01 .top-banner .c-wrapper .c-item-01 .c-item-01-A {
            font-size: 13px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            color: #000000; }
          .comp-header-01 .top-banner .c-wrapper .c-item-01 .c-item-01-B {
            color: #000000;
            font-size: 13px;
            font-weight: 600;
            line-height: 17px;
            letter-spacing: 0em;
            margin-left: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px; }
            .comp-header-01 .top-banner .c-wrapper .c-item-01 .c-item-01-B::before {
              content: "";
              width: 1px;
              height: 24px;
              background: #000; }
        .comp-header-01 .top-banner .c-wrapper .c-item-02 {
          display: flex; }
    .comp-header-01 .bottom {
      background: #FFF;
      box-shadow: 0px 5px 3.9px -4px #00000040; }
      .comp-header-01 .bottom .c-wrapper {
        height: 98px;
        display: flex;
        align-items: center; }
    .comp-header-01 #menu-primary {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 128px;
      flex: 1; }
      .comp-header-01 #menu-primary ul {
        display: flex;
        align-items: center;
        gap: 24px; }
        .comp-header-01 #menu-primary ul li a:not(.btn-04) {
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0em;
          color: #000;
          -moz-transition: border-bottom 0.25s, color 0.25s;
          -o-transition: border-bottom 0.25s, color 0.25s;
          -webkit-transition: border-bottom 0.25s, color 0.25s;
          transition: border-bottom 0.25s, color 0.25s;
          border-bottom: 2px solid rgba(255, 255, 255, 0); }
          .comp-header-01 #menu-primary ul li a:not(.btn-04):after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -5px;
            height: 2px;
            background: #000;
            visibility: hidden;
            opacity: 0;
            -moz-transition: background 0.25s, visibility 0s 0.25s, opacity 0.25s;
            -o-transition: background 0.25s, visibility 0s 0.25s, opacity 0.25s;
            -webkit-transition: background 0.25s, visibility 0s 0.25s, opacity 0.25s;
            transition: background 0.25s, visibility 0s 0.25s, opacity 0.25s; }
        .comp-header-01 #menu-primary ul li:hover a:not(.btn-04):after {
          visibility: visible;
          opacity: 1;
          -moz-transition: visibility 0s 0s, opacity 0.35s;
          -o-transition: visibility 0s 0s, opacity 0.35s;
          -webkit-transition: visibility 0s 0s, opacity 0.35s;
          transition: visibility 0s 0s, opacity 0.35s; }
    .comp-header-01 .mobile-items {
      display: none; } }

/*# sourceMappingURL=Header.css.map */
