@import '../../Base/Global.scss';
/* Common xs1, xs2 */
/* Common XS1 and XS2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .section-27 {
    background: #0068c7;

    .c-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      padding: 56px 0 0 0;

      .c-item-01 {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .c-item-02 {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 54px 0 30px 0;
        margin-bottom: 152px;

        .c-item-02-A {
          font-size: 32px;
          font-weight: 600;
          line-height: 42px;
          text-align: center;
        }

        .c-item-02-B {
          &:not(:last-child) {
            margin-bottom: 28px;
          }

          font-family: 'Roboto';
          font-size: 16px;
          font-weight: 400;
          line-height: 30px;
          text-align: center;
          margin: 0 30px;
        }

        .c-item-02-C {
          font-family: Sacramento;
          font-size: 32px;
          font-weight: 400;
          line-height: 40px;
          text-align: center;
          color: #ff2340;
        }
      }

      .c-item-03 {
        img {
          position: absolute;
          bottom: 0;
          right: -230px;
        }
      }
    }

    &.V1 {
      background: #ffb73e;

      .c-wrapper {
        .c-item-03 {
          img {
            bottom: -50px;
          }
        }
        .c-item-02 {
          margin-bottom: 262px;
        }
      }
    }

    &.V2 {
      background: #8522d7;

      .c-wrapper {
        .c-item-03 {
          img {
            right: -100px;
          }
        }
      }
    }

    &.V3 {
      background: #00d559;

      .c-wrapper {
        .c-item-03 {
          img {
            left: -150px;
            bottom: -3px;
          }
        }
        .c-item-02 {
          margin-bottom: 164px;
        }
      }
    }

    &.V4 {
      background: #ff6b32;
      .c-wrapper {
        .c-item-03 {
          img {
            left: 5px;
          }
        }
        .c-item-02 {
          margin-bottom: 244px;
        }
      }
    }
  }
}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
  .section-27 {
    background: #0068c7;

    .c-wrapper {
      width: 908px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 68px 0;
      border-radius: 8px;

      .c-item-02 {
        width: 100%;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 64px 40px 44px 40px;
        gap: 8px;

        .c-item-02-B {
          &:not(:last-child) {
            margin-bottom: 28px;
          }
        }

        .c-item-02-C {
          font-family: Sacramento;
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          text-align: center;
          color: #ff2340;
        }
      }

      .c-item-03 {
        position: absolute;
        bottom: 0;
        right: -200px;
      }
    }

    &.V1 {
      background: #ffb73e;

      .c-wrapper {
        .c-item-03 {
          bottom: -44px;
          left: -240px;
        }

        .c-item-02-B {
          padding: 0 60px;
        }
      }
    }

    &.V2 {
      background: #8522d7;

      .c-wrapper {
        .c-item-03 {
          bottom: 0px;
          left: -120px;
        }

        .c-item-02-B {
          padding: 0 60px;
        }
      }
    }

    &.V3 {
      background: #00d559;

      .c-wrapper {
        .c-item-03 {
          bottom: -2px;
          right: -214px;
        }

        .c-item-02-B {
          padding: 0 60px;
        }
      }
    }

    &.V4 {
      background: #ff6b32;

      .c-wrapper {
        .c-item-03 {
          bottom: 0px;
          right: -180px;
        }

        .c-item-02-B {
          padding: 0 50px;
        }
      }
    }
  }
}
