@import '../../Base/Global.scss';
/* Common xs1, xs2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .section-28 {
    padding: 30px 0 74px 0;
    .c-wrapper {
      .c-container-02 {
        .c-container-02-A {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .c-item {
            display: flex;
            flex-direction: column-reverse;

            &.bg-01 {
              background: rgba(0, 104, 199, 0.15);
            }

            &.bg-02 {
              border: 0px solid #f60;
              background: rgba(255, 102, 0, 0.15);
            }

            &.bg-03 {
              border: 0px solid #00bd99;
              background: rgba(0, 189, 153, 0.15);
            }

            &.bg-04 {
              border: 0px solid #8522d7;
              background: rgba(133, 34, 215, 0.15);
            }

            .c-item-01 {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 16px;
              padding: 44px 0 52px 0;

              .c-item-01-A {
              }

              .c-item-01-B {
                font-family: 'Roboto';
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
              }
            }

            .c-item-02 {
              object-fit: cover;
            }
          }
        }

        .c-container-02-B {
          display: none;
        }
      }
    }
  }
}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
  .section-28 {
    padding: 112px 0 0 0;

    .c-wrapper {
      width: 1042px;

      .c-container-02 {
        display: flex;

        .c-container-02-A {
          .c-item {
            border-radius: 10px;
            margin: 0 0 60px 0;
            display: flex;

            &.bg-01 {
              background: rgba(0, 104, 199, 0.15);
            }

            &.bg-02 {
              border: 0px solid #f60;
              background: rgba(255, 102, 0, 0.15);
            }

            &.bg-03 {
              border: 0px solid #00bd99;
              background: rgba(0, 189, 153, 0.15);
            }

            &.bg-04 {
              border: 0px solid #8522d7;
              background: rgba(133, 34, 215, 0.15);
            }

            .c-item-01 {
              flex: 1;
              padding: 46px 120px 56px 56px;

              .c-item-01-B {
                margin: 16px 0 24px 0;
                height: 96px;
                color: #1a4359;
                font-family: 'Roboto';
                font-size: 16px;
                font-weight: 400;
                line-height: 142.383%;
                /* 22.781px */
                letter-spacing: -0.05px;
              }
            }

            .c-item-02 {
              width: 470px;
              height: 376px;
              object-fit: cover;
            }
          }
        }

        .c-container-02-B {
          position: absolute;
          right: -150px;
          top: 0;

          .c-item {
            display: block;
          }
        }
      }
    }
  }
}
