@import '../../Base/Global.scss';
/* Common xs1, xs2 */
/* Common XS1 and XS2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .section-38 {
    background: #e9eff5;
    padding: 26px 0 74px 0;

    .c-wrapper {
      .c-container-01 {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        margin-bottom: 40px;
        .c-item-01 {
          object-fit: cover;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .c-container-01-A {
          display: flex;
          flex-direction: column;
          margin: 40px 16px 36px 16px;
          gap: 30px;
          flex: 1;
          .c-item-02 {
            font-size: 36px;
            line-height: 44px;
          }
          .c-item-03 {
            padding: 0 4px;
          }
        }
      }

      .c-container-02 {
        background: #0068c7;
        border-radius: 8px;
        margin-bottom: 40px;

        .c-item-01 {
          object-fit: cover;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .c-container-02-A {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 36px 0;
          gap: 32px;

          .c-item-02 {
            color: #ffffff;
            font-size: 32px;
            line-height: 40px;
          }

          .c-item-03 {
            color: #ffffff;
            margin: 0 16px;
          }
        }
      }

      .c-container-03 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 36px;
        margin-bottom: 40px;

        .c-item-02 {
          padding: 0 20px;
        }
      }

      .c-container-04 {
        display: flex;
        flex-direction: column-reverse;

        .c-item-01 {
          .c-item-02 {
            padding: 36px 20px;

            .c-item-02-A {
              font-family: 'Neulis Alt';
              font-size: 28px;
              font-weight: 600;
              line-height: 26px;
              text-align: left;
              color: #0066c1;
              margin-bottom: 12px;
            }

            .c-item-02-B {
              font-size: 12px;
              line-height: 16px;
              text-align: left;
            }
          }

          .c-item-03 {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 0 20px 0 20px;

            .c-item-03-A {
              display: flex;
              gap: 16px;
              .c-item-02-B {
                color: #0066c1;
              }
              .c-item-03-A-01 {
                font-size: 12px;
                line-height: 16px;
                text-align: left;
                padding-right: 30px;
                color: #0066c1;
              }
              .location-svg {
                width: 40px;
              }
            }
          }
        }
        .c-item-04 {
          width: 100%;
          height: 280px;
          .c-item-04-A {
            width: 100%;
            height: 100%;
            z-index: 1;
            object-fit: cover;
            border-radius: 8px;
          }

          .swiper {
            width: 100%;
            height: 100%;
            .swiper-button-prev,
            .swiper-button-next {
              width: 50px;
              height: 42px;
              margin: 0;
              transform: translateY(-50%);
              display: flex;
              justify-content: center;
              align-items: center;

              &::after {
                display: none;
              }
              &.swiper-button-disabled {
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
  .section-38 {
    background: #e9eff5;
    padding: 94px 0 104px 0;

    .c-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;

      .c-container-01 {
        background: #ffffff;
        display: flex;
        border-radius: 8px;
        overflow: hidden;
        .c-item-01 {
          img {
            height: 100%;
            width: 100%;
            border-radius: 0px 8px 8px 0px;
            object-fit: cover;
          }
        }

        .c-container-01-A {
          display: flex;
          flex-direction: column;
          margin: 88px 96px 104px 60px;
          gap: 30px;
          flex: 1;
        }

        .c-item-02 {
          text-align: left;
        }
        .c-item-03 {
          text-align: left;
        }
      }

      .c-container-02 {
        background: #0068c7;
        border-radius: 8px;
        margin-top: 44px;
        overflow: hidden;

        .c-item-01 {
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 8px 8px 0px 0px;
          }
        }

        .c-container-02-A {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 142px 0 78px 0;
          gap: 32px;
          flex: 1;

          .c-item-02 {
            color: #ffffff;
          }

          .c-item-03 {
            color: #ffffff;
            margin: 0 304px;
          }
        }
      }

      .c-container-03 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .c-item-02 {
          padding: 0 280px;
        }
      }
      .c-container-04 {
        display: flex;
        border-radius: 8px;
        background: #fff;

        .c-item-01 {
          display: flex;
          flex-direction: column;
          flex: 1;
          gap: 32px;
          padding: 38px 0 34px 52px;

          .c-item-02-B {
            font-family: 'Neulis Alt';
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            color: #0066c1;
          }

          .c-item-02 {
            .c-item-02-A {
              font-family: 'Neulis Alt';
              font-size: 28px;
              font-weight: 600;
              line-height: 26px;
              text-align: left;
              color: #0066c1;
              margin-bottom: 6px;
              margin-right: 180px;
            }
          }

          .c-item-03 {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .c-item-03-A {
              display: flex;
              gap: 16px;
            }
          }
        }

        .c-item-04 {
          width: 400px;
          height: 300px;

          .swiper {
            width: 100%;
            height: 100%;
            .swiper-button-prev,
            .swiper-button-next {
              width: 50px;
              height: 42px;
              margin: 0;
              transform: translateY(-50%);
              display: flex;
              justify-content: center;
              align-items: center;

              &::after {
                display: none;
              }
              &.swiper-button-disabled {
                opacity: 0.5;
              }
            }
          }

          .c-item-04-A {
            width: 100%;
            height: 100%;
            z-index: 1;
            object-fit: cover;
            border-radius: 0 8px 8px 0;
          }
        }

        &.V1 {
          background: #f60;
        }
        &.V2 {
          background: #ecbd32;
        }
        &.V3 {
          background: #0d359c;
        }
        &.V4 {
          background: #6203b2;
        }

        &.V5 {
          background: #684eed;
        }
      }
    }
  }
}
