@import '../../Base/Global.scss';
/* Common xs1, xs2 */
/* Common XS1 and XS2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .section-41 {
    background: #e9eff5;
    .c-container-01 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      padding: 42px 0 56px 0;
      .c-item-01 {
        color: #00bd99;
        font-size: 34px;
        line-height: 44px;
      }
      .c-item-02 {
        margin: 0 30px;
      }
    }
  }
}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
  .section-41 {
    background: #e9eff5;
    .c-container-01 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 32px;
      padding: 86px 0 56px 0;
      .c-item-01 {
        color: #00bd99;
      }
      .c-item-02 {
        margin: 0 500px;
      }
    }
  }
}
