@import '../../Base/Global.scss';
/* Common xs1, xs2 */
/* Common XS1 and XS2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .section-47 {
    background: #ffffff;
    padding: 54px 0;

    .c-wrapper {
      display: flex;
      flex-direction: column;
      gap: 52px;
      .c-container-01 {
        background: #ffb73e;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        &.v2 {
          background: #9783fe;
        }
        &.v3 {
          background: #0068c7;
        }
        &.v4 {
          background: #00bd99;
        }
        .c-item-01 {
          display: flex;
          flex-direction: column;
          gap: 18px;
          flex: 1;
          margin: 56px 22px;

          .c-item-01-A {
            color: #ffffff;
            font-size: 32px;
            line-height: 44px;
          }
          .c-item-01-B {
            color: #ffffff;
            li {
              list-style: inside;
              color: #fff;
              text-align: left;
            }
          }
        }
        .c-item-03 {
          object-fit: cover;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            // border-radius: 8px 8px 0 0px;
          }
        }
        .c-item-02 {
          display: none;
        }
      }
    }
  }
}
@media all and (min-width: #{$mq-xs2 + "px"}) and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .section-47 .c-wrapper .c-container-01 {
    height: 100%;
  }
}

@media all and (min-width: #{$mq-sm2 + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
  .section-47 .c-wrapper .c-container-01 {
    height: 100%;
  }
}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
  .section-47 {
    background: #ffffff;
    padding: 64px 0 58px 0;

    .c-wrapper {
      display: flex;
      flex-direction: column;
      gap: 36px;
      .c-container-01 {
        background: #ffb73e;
        display: flex;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        &.v2 {
          background: #9783fe;
        }
        &.v3 {
          background: #0068c7;
        }
        &.v4 {
          background: #00bd99;
        }

        .c-item-01 {
          display: flex;
          flex-direction: column;
          gap: 28px;
          flex: 1;
          margin: 0 58px 0 76px;

          .c-item-01-A {
            text-align: left;
            color: #ffffff;
            margin-right: 60px;
          }
          .c-item-01-B {
            text-align: left;
            color: #ffffff;
            margin-right: 84px;
            li {
              list-style: inside;
              color: #fff;
            }
          }
        }
        .c-item-02 {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .c-item-03 {
          display: none;
        }
      }
    }
  }
}
