@import '../../Base/Global.scss';
/* Common xs1, xs2 */
/* Common XS1 and XS2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .section-49 {
    background: linear-gradient(0deg, #f31e2b 0%, #f31e2b 100%),
      url(<path-to-image>) lightgray 50% / cover no-repeat;

    .c-container-01 {
      height: 480px;
      display: flex;
      align-items: center;
      justify-content: center;

      .c-item-01 {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      // &::after {
      //   content: '';
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   // background: rgba(32, 197, 166, 0);
      //   background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      //   z-index: 2;
      // }
      .c-item-02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -122px;
        .c-item-02-A {
          font-family: 'Neulis Alt';
          font-size: 40px;
          font-weight: 300;
          line-height: 40px;
          text-align: center;
          color: #ffffff;
        }
        .w {
          font-weight: 600;
        }
      }
    }
  }
}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
  .section-49 {
    background: linear-gradient(0deg, #f31e2b 0%, #f31e2b 100%),
      url(<path-to-image>) lightgray 50% / cover no-repeat;

    .c-container-01 {
      height: 480px;
      display: flex;
      align-items: center;
      justify-content: center;

      .c-item-01 {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      // &::after {
      //   content: '';
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   // background: rgba(32, 197, 166, 0);
      //   background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      //   z-index: 2;
      // }
      .c-item-02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -70px;
        .c-item-02-A {
          font-family: 'Neulis Alt';
          font-size: 96px;
          font-weight: 300;
          line-height: 92px;
          text-align: center;
          color: #ffffff;
        }
        .w {
          font-weight: 600;
        }
      }
    }
  }
}
