@import '../../Base/Global.scss';
/* Common xs1, xs2 */
/* Common XS1 and XS2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .section-56 {
    padding: 74px 0 0 0;
    background: #e7f2f0;

    .c-wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .c-container-01 {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .c-item-01 {
          width: 100%;
          height: auto;
          border-radius: 8px 8px 0 0;
          object-fit: cover;
        }

        .c-item-02 {
          padding: 44px 0;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .c-item-02-A {
            font-size: 32px;
            line-height: 42px;
          }

          .c-item-02-B {
            margin: 0 20px;
            font-size: 16px;
            line-height: 30px;
          }
        }
      }
    }
  }
}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
  .section-56 {
    padding: 74px 0 108px 0;
    background: #e7f2f0;

    .c-wrapper {
      width: 908px;
      display: flex;
      flex-direction: column;
      gap: 56px;

      .c-container-01 {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        width: 100%;

        .c-item-01 {
          width: 100%;
          img {
            width: 100%;
          }
        }

        .c-item-02 {
          padding: 56px 0;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .c-item-02-A {
            margin: 0 24px;
          }
          .c-item-02-B {
            margin: 0 108px;
          }

          .c-item-03-B {
            margin: 20px 132px 0 132px;
            font-weight: 600;
            &.w {
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
