@import '../../Base/Global.scss';
/* Common xs1, xs2 */
/* Common XS1 and XS2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .section-57 {
    background: linear-gradient(0deg, #0068c7 0%, #0068c7 100%),
      url(<path-to-image>) lightgray 50% / cover no-repeat;

    .c-container-01 {
      height: 362px;
      display: flex;
      align-items: center;
      justify-content: center;

      .c-item-01 {
        position: absolute;
        z-index: 3;
        width: 295px;
        height: 193px;
        left: calc(50% - 147.5px);
        top: calc(50% - 91.5px);
        overflow: hidden; /* Taşan içeriği gizleyin */
        .c-item-01-A {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url('/Content/Files/Images/Home/minirenkte-yasam/1.png')
            no-repeat center center;
          background-size: contain;
          opacity: 0.52;
          mix-blend-mode: multiply;
        }
        .c-item-01-B {
          width: 100%;
          height: 100%;
          object-fit: cover;
          mask-image: url('/Content/Files/Images/Home/minirenkte-yasam/1.png'); /* Yıldız şeklindeki maskeyi belirtin */
          mask-size: contain;
          mask-repeat: no-repeat;
          mask-position: center;
        }
      }

      .c-item-02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3;
        position: absolute;

        .c-item-02-A {
          font-family: 'Neulis Alt';
          font-size: 36px;
          font-weight: 300;
          line-height: 32px;
          text-align: center;
          color: #ffffff;
        }
        .w {
          font-weight: 600;
        }
      }
    }
  }
}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
  .section-57 {
    background: linear-gradient(0deg, #0068c7 0%, #0068c7 100%),
      url(<path-to-image>) lightgray 50% / cover no-repeat;
    .c-container-01 {
      height: 480px;
      display: flex;
      align-items: center;
      justify-content: center;

      .c-item-01 {
        position: absolute;
        z-index: 3;
        width: 606px;
        height: 396px;
        left: calc(50% - 303px);
        top: calc(50% - 198px);
        overflow: hidden; /* Taşan içeriği gizleyin */
        .c-item-01-A {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url('/Content/Files/Images/Home/kariyer/1.png') no-repeat
            center center;
          background-size: contain;
          opacity: 0.52;
          mix-blend-mode: multiply;
        }
        .c-item-01-B {
          width: 100%;
          height: 100%;
          object-fit: cover;
          mask-image: url('/Content/Files/Images/Home/kariyer/1.png'); /* Yıldız şeklindeki maskeyi belirtin */
          mask-size: contain;
          mask-repeat: no-repeat;
          mask-position: center;
        }
      }

      .c-item-02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3;
        position: absolute;
        width: 100%;
        height: 100%;
        .c-item-02-A {
          font-family: 'Neulis Alt';
          font-size: 96px;
          font-weight: 300;
          line-height: 92px;
          text-align: center;
          color: #ffffff;
        }
        .w {
          font-weight: 600;
        }
      }
    }
  }
}
