@import '../../Base/Global.scss';
/* Common xs1, xs2 */
/* Common XS1 and XS2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .section-59 {
    padding: 46px 0 80px 0;
    .c-wrapper {
      .c-container-01 {
        border: 1px solid #dcdcdc;
        border-radius: 12px;
        overflow: hidden;
        .c-unit-01 {
          background: #0068c7;
          .c-item-01 {
            color: #fff;
            text-align: center;
            padding: 20px 90px;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 95.917%; /* 16.306px */
          }
        }

        .c-unit-02 {
          background: #ffffff;
          padding: 26px 20px 36px 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
          box-shadow: 0px 2px 3.9px -3px rgba(0, 0, 0, 0.5);

          &:last-child {
            border-radius: 0px 0px 8px 8px;
          }
          &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
          }

          .c-unit-03 {
            .c-item-01 {
              text-align: center;
              color: #0068c7;
              margin-bottom: 10px;
            }
            .c-item-02 {
              text-align: center;
              color: #1a4359;
            }
          }

          .c-item-03 {
            font-size: 12px;
            height: fit-content;
          }
        }
      }
    }
  }
}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
  .section-59 {
    padding: 92px 0 80px 0;

    .c-wrapper {
      width: 830px;

      .c-container-01 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 12px;

        .c-unit-01 {
          background: #0068c7;
          width: 100%;
          padding: 20px 0 20px 52px;
          border-radius: 10px 10px 0px 0px;

          .c-item-01 {
            color: #fff;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 95.917%;
          }
        }

        .c-unit-02 {
          background: #fff;
          display: flex;
          gap: 106px;
          padding: 34px 28px 32px 52px;
          box-shadow: 0px 2px 3.9px -3px rgba(0, 0, 0, 0.5);

          &:last-child {
            border-radius: 0px 0px 8px 8px;
          }
          &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
          }
          // &:not(:last-child) {
          //   border-bottom: 1px solid #dcdcdc;
          // }
          .c-unit-03 {
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex: 1;
            .c-item-01 {
              text-align: left;
              color: #0068c7;
            }
            .c-item-02 {
              text-align: left;
              color: #1a4359;
            }
          }

          .c-item-03 {
            padding: 12px 28px 12px 28px;
            font-size: 12px;
            height: fit-content;
            margin-top: 30px;
          }
        }
      }
    }
  }
}
