/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .section-05 {
    padding: 50px 0 70px 0; }
    .section-05 .c-wrapper .container {
      display: flex;
      flex-direction: column;
      gap: 50px; }
      .section-05 .c-wrapper .container .c-item {
        display: flex;
        flex-direction: column-reverse;
        border-radius: 8px;
        background-color: #f5f5f3;
        overflow: hidden; }
      .section-05 .c-wrapper .container .c-item-01 {
        padding: 46px 0 56px 0;
        text-align: center; }
        .section-05 .c-wrapper .container .c-item-01 .c-item-01-A {
          font-size: 30px;
          font-weight: 500;
          line-height: 44px;
          color: #65be4d; }
          .section-05 .c-wrapper .container .c-item-01 .c-item-01-A.c-01 {
            color: #de3c11; }
          .section-05 .c-wrapper .container .c-item-01 .c-item-01-A.c-02 {
            color: #0c826a; }
          .section-05 .c-wrapper .container .c-item-01 .c-item-01-A.c-03 {
            color: #294864; }
        .section-05 .c-wrapper .container .c-item-01 .c-item-01-B {
          font-family: 'Roboto';
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          color: #1a4359;
          margin: 24px 24px 0 24px; }
        .section-05 .c-wrapper .container .c-item-01 .c-item-01-C {
          margin-top: 52px; }
      .section-05 .c-wrapper .container .c-item-02 {
        object-fit: cover; } }
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-05 {
    padding-top: 160px; }
    .section-05 .c-wrapper {
      width: 930px; }
      .section-05 .c-wrapper .container .c-item {
        height: 384px;
        background-color: #f5f5f3;
        display: flex;
        margin: 0 0 60px 0;
        overflow: hidden;
        align-items: center;
        border-radius: 8px; }
        .section-05 .c-wrapper .container .c-item .c-item-01 {
          padding: 0 50px; }
          .section-05 .c-wrapper .container .c-item .c-item-01 .c-item-01-A {
            font-size: 36px;
            font-weight: 500;
            line-height: 44px;
            color: #65be4d; }
            .section-05 .c-wrapper .container .c-item .c-item-01 .c-item-01-A.c-01 {
              color: #de3c11; }
            .section-05 .c-wrapper .container .c-item .c-item-01 .c-item-01-A.c-02 {
              color: #0c826a; }
            .section-05 .c-wrapper .container .c-item .c-item-01 .c-item-01-A.c-03 {
              color: #294864; }
          .section-05 .c-wrapper .container .c-item .c-item-01 .c-item-01-B {
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            margin: 30px 0 0 0; }
          .section-05 .c-wrapper .container .c-item .c-item-01 .c-item-01-C {
            margin-top: 30px; }
        .section-05 .c-wrapper .container .c-item .c-item-02 {
          width: 376px;
          height: 100%;
          object-fit: cover; } }

/*# sourceMappingURL=05.css.map */
