/* Common xs1, xs2 */
/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  .section-16 {
    background: #e9eff5;
    padding: 66px 0 126px 0; }
    .section-16 .c-wrapper {
      width: 100%; }
      .section-16 .c-wrapper .c-container-01 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 28px; }
        .section-16 .c-wrapper .c-container-01 .c-container-01-A {
          font-size: 36px;
          font-weight: 500;
          line-height: 44px;
          text-align: center;
          color: #0066c1;
          margin: 0 32px; }
        .section-16 .c-wrapper .c-container-01 .c-container-01-B {
          font-size: 19px;
          font-weight: 400;
          line-height: 32px;
          text-align: center;
          color: #1a4359;
          margin: 0 52px; }
      .section-16 .c-wrapper .c-container-02 {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 36px;
        margin-top: 90px; }
        .section-16 .c-wrapper .c-container-02 .c-unit-01 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .section-16 .c-wrapper .c-container-02 .c-unit-01 .c-unit-01-A {
            margin-bottom: 10px;
            width: 100px; }
          .section-16 .c-wrapper .c-container-02 .c-unit-01 .c-unit-01-B {
            font-size: 20px;
            font-weight: 500;
            line-height: 20px;
            text-align: center;
            color: #0066c1; }
          .section-16 .c-wrapper .c-container-02 .c-unit-01 .c-unit-01-C {
            font-size: 20px;
            font-weight: 300;
            line-height: 16px;
            text-align: center;
            color: #0066c1;
            margin-top: 10px; } }
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-16 {
    background: #e9eff5;
    padding: 104px 0 116px 0; }
    .section-16 .c-wrapper {
      width: 938px; }
      .section-16 .c-wrapper .c-container-01 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px; }
        .section-16 .c-wrapper .c-container-01 .c-container-01-A {
          font-size: 52px;
          font-weight: 500;
          line-height: 58px;
          text-align: center;
          color: #0066c1;
          margin: 28px 0 18px 0; }
        .section-16 .c-wrapper .c-container-01 .c-container-01-B {
          font-size: 19px;
          font-weight: 400;
          line-height: 32px;
          text-align: center;
          color: #1a4359; }
      .section-16 .c-wrapper .c-container-02 {
        display: grid;
        grid-template-columns: auto auto auto auto;
        row-gap: 70px;
        column-gap: 40px;
        margin-top: 104px; }
        .section-16 .c-wrapper .c-container-02 .c-unit-01 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .section-16 .c-wrapper .c-container-02 .c-unit-01 .c-unit-01-A {
            margin-bottom: 10px; }
          .section-16 .c-wrapper .c-container-02 .c-unit-01 .c-unit-01-B {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            text-align: center;
            color: #0066c1; }
          .section-16 .c-wrapper .c-container-02 .c-unit-01 .c-unit-01-C {
            font-size: 20px;
            font-weight: 300;
            line-height: 24px;
            text-align: center;
            color: #0066c1; } }

/*# sourceMappingURL=16.css.map */
