/* Common xs1, xs2 */
/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  .section-23 {
    fill: rgba(12, 130, 106, 0.1);
    padding: 44px 12px 56px 12px; }
    .section-23 .c-container {
      display: flex;
      flex-direction: column;
      border-radius: 9px;
      background-color: #ffffff;
      margin-bottom: 36px; }
      .section-23 .c-container .c-wrapper .c-item-01 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 42px 0 22px 0; }
        .section-23 .c-container .c-wrapper .c-item-01 .c-item-01-A {
          font-family: 'Neulis Alt';
          font-size: 36px;
          font-weight: 500;
          line-height: 40px;
          text-align: center;
          color: #0c826a;
          margin: 32px 0 22px 0; }
        .section-23 .c-container .c-wrapper .c-item-01 .c-item-01-B {
          font-family: 'Roboto';
          font-size: 16px;
          font-weight: 400;
          line-height: 30px;
          text-align: center;
          color: #1a4359; }
        .section-23 .c-container .c-wrapper .c-item-01 .c-item-01-C {
          display: none; }
        .section-23 .c-container .c-wrapper .c-item-01 .c-item-01-D {
          font-family: Sacramento;
          font-size: 26px;
          font-weight: 200;
          line-height: 20px;
          text-align: center;
          color: #ff2340;
          margin-bottom: 5px; }
      .section-23 .c-container.v1 {
        background: rgba(12, 130, 106, 0.1); }
        .section-23 .c-container.v1 .c-wrapper .c-item-01 .c-item-01-A {
          color: #0c826a; }
      .section-23 .c-container.v2 {
        background: rgba(89, 104, 254, 0.1); }
        .section-23 .c-container.v2 .c-wrapper .c-item-01 .c-item-01-A {
          color: #5968fe; }
      .section-23 .c-container.v3 {
        background: rgba(255, 185, 0, 0.1); }
        .section-23 .c-container.v3 .c-wrapper .c-item-01 .c-item-01-A {
          color: #ffb900; }
      .section-23 .c-container.v4 {
        background: rgba(255, 197, 225, 0.1); }
        .section-23 .c-container.v4 .c-wrapper .c-item-01 .c-item-01-A {
          color: #ffc5e1; } }
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-23 .c-container .c-wrapper {
    width: 908px;
    padding: 60px 0 66px 0; }
    .section-23 .c-container .c-wrapper .c-item-01 {
      border-radius: 8px;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 80px 0 60px 0; }
      .section-23 .c-container .c-wrapper .c-item-01 .c-item-01-A {
        font-size: 42px;
        font-weight: 500;
        line-height: 40px;
        text-align: center;
        color: #5968fe;
        font-family: 'Neulis Alt';
        font-style: normal; }
        .section-23 .c-container .c-wrapper .c-item-01 .c-item-01-A.m {
          margin: 0 220px; }
      .section-23 .c-container .c-wrapper .c-item-01 .c-item-01-B {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        color: #1a4359;
        margin: 0 80px; }
        .section-23 .c-container .c-wrapper .c-item-01 .c-item-01-B.w {
          margin: 0 140px; }
      .section-23 .c-container .c-wrapper .c-item-01 .c-item-01-C {
        position: absolute; }
      .section-23 .c-container .c-wrapper .c-item-01 .c-item-01-D {
        color: #ff2340;
        text-align: center;
        font-family: Sacramento;
        font-size: 46px;
        font-style: normal;
        font-weight: 400;
        line-height: 192.383%;
        /* 88.496px */
        letter-spacing: -0.05px; }
      .section-23 .c-container .c-wrapper .c-item-01 .c-item-01-E {
        display: none; }
  .section-23 .c-container.v1 {
    background: rgba(12, 130, 106, 0.1); }
    .section-23 .c-container.v1 .c-wrapper .c-item-01 .c-item-01-A {
      color: #0c826a; }
    .section-23 .c-container.v1 .c-wrapper .c-item-01 .c-item-01-C {
      bottom: -1px;
      left: -70px; }
    .section-23 .c-container.v1:has(.c-item-01-D) .c-item-01-A {
      margin-bottom: 0; }
  .section-23 .c-container.v2 {
    background: rgba(89, 104, 254, 0.1); }
    .section-23 .c-container.v2 .c-wrapper .c-item-01 .c-item-01-A {
      color: #5968fe; }
    .section-23 .c-container.v2 .c-wrapper .c-item-01 .c-item-01-C {
      bottom: -2px;
      right: -112px; }
  .section-23 .c-container.v3 {
    background: rgba(255, 185, 0, 0.1); }
    .section-23 .c-container.v3 .c-wrapper .c-item-01 .c-item-01-A {
      color: #ffb900; }
    .section-23 .c-container.v3 .c-wrapper .c-item-01 .c-item-01-C {
      bottom: -8px;
      right: -140px; }
  .section-23 .c-container.v4 {
    background: rgba(255, 197, 225, 0.1); }
    .section-23 .c-container.v4 .c-wrapper .c-item-01 .c-item-01-A {
      color: #ffc5e1; }
    .section-23 .c-container.v4 .c-wrapper .c-item-01 .c-item-01-C {
      bottom: 0;
      left: -68px; } }

/*# sourceMappingURL=23.css.map */
