/* Common xs1, xs2 */
/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  .section-27 {
    background: #0068c7; }
    .section-27 .c-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 56px 0 0 0;
      overflow: hidden;
      border-radius: 8px; }
      .section-27 .c-wrapper .c-item-01 {
        width: 100%; }
        .section-27 .c-wrapper .c-item-01 img {
          border-radius: 8px 8px 0 0;
          height: auto;
          width: 100%; }
      .section-27 .c-wrapper .c-item-02 {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 54px 0 50px 0;
        margin-bottom: 152px;
        border-radius: 0 0 8px 8px;
        overflow: hidden; }
        .section-27 .c-wrapper .c-item-02 .c-item-02-A {
          font-size: 32px;
          font-weight: 600;
          line-height: 42px;
          text-align: center; }
        .section-27 .c-wrapper .c-item-02 .c-item-02-B {
          font-family: 'Roboto';
          font-size: 16px;
          font-weight: 400;
          line-height: 30px;
          text-align: center;
          margin: 0 30px; }
          .section-27 .c-wrapper .c-item-02 .c-item-02-B:not(:last-child) {
            margin-bottom: 28px; }
        .section-27 .c-wrapper .c-item-02 .c-item-02-C {
          font-family: Sacramento;
          font-size: 32px;
          font-weight: 400;
          line-height: 40px;
          text-align: center;
          color: #ff2340; }
      .section-27 .c-wrapper .c-item-03 img {
        position: absolute;
        bottom: 0;
        right: -168px;
        width: 336px; }
    .section-27.V1 {
      background: #ffb73e; }
      .section-27.V1 .c-wrapper .c-item-03 img {
        bottom: -36px;
        width: 328px;
        height: 334px; }
      .section-27.V1 .c-wrapper .c-item-02 {
        margin-bottom: 192px; }
    .section-27.V2 {
      background: #8522d7; }
      .section-27.V2 .c-wrapper .c-item-03 img {
        right: -100px;
        bottom: -2px;
        width: 272px;
        height: 118px; }
    .section-27.V3 {
      background: #00d559; }
      .section-27.V3 .c-wrapper .c-item-03 img {
        left: -150px;
        bottom: -3px;
        width: 314px;
        height: 192px; }
      .section-27.V3 .c-wrapper .c-item-02 {
        margin-bottom: 164px; }
    .section-27.V4 {
      background: #ff6b32; }
      .section-27.V4 .c-wrapper .c-item-03 img {
        left: -14px;
        width: 180px;
        height: 272px; }
      .section-27.V4 .c-wrapper .c-item-02 {
        margin-bottom: 244px; } }
@media all and (min-width: 420px) and (max-width: 767px) {
  .section-27 .c-wrapper {
    height: 100%; } }
@media all and (min-width: 1024px) and (max-width: 1379px) {
  .section-27 .c-wrapper {
    height: 100%; } }
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-27 {
    background: #0068c7; }
    .section-27 .c-wrapper {
      width: 908px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 68px 0;
      border-radius: 8px; }
      .section-27 .c-wrapper .c-item-01 img {
        border-radius: 8px 8px 0px 0px;
        object-fit: cover; }
      .section-27 .c-wrapper .c-item-02 {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 40px;
        gap: 16px;
        border-radius: 0 0 8px 8px;
        width: 100%; }
        .section-27 .c-wrapper .c-item-02 .c-item-02-B:not(:last-child) {
          margin-bottom: 28px; }
        .section-27 .c-wrapper .c-item-02 .c-item-02-C {
          color: #ff2340;
          text-align: center;
          font-family: Sacramento;
          font-size: 46px;
          font-style: normal;
          font-weight: 400;
          line-height: 192.383%;
          /* 88.496px */
          letter-spacing: -0.05px; }
      .section-27 .c-wrapper .c-item-03 {
        position: absolute;
        bottom: 0;
        right: -200px; }
    .section-27.V1 {
      background: #ffb73e; }
      .section-27.V1 .c-wrapper .c-item-03 {
        bottom: -44px;
        left: -240px; }
      .section-27.V1 .c-wrapper .c-item-02-B {
        padding: 0 60px; }
    .section-27.V2 {
      background: #8522d7; }
      .section-27.V2 .c-wrapper .c-item-03 {
        bottom: -2px;
        left: -120px; }
      .section-27.V2 .c-wrapper .c-item-02-B {
        padding: 0 60px; }
    .section-27.V3 {
      background: #00d559; }
      .section-27.V3 .c-wrapper .c-item-03 {
        bottom: -2px;
        right: -230px; }
      .section-27.V3 .c-wrapper .c-item-02-B {
        padding: 0 60px; }
    .section-27.V4 {
      background: #ff6b32; }
      .section-27.V4 .c-wrapper .c-item-03 {
        bottom: 0px;
        right: -200px; }
      .section-27.V4 .c-wrapper .c-item-02-B {
        padding: 0 50px; } }

/*# sourceMappingURL=27.css.map */
