/* Common xs1, xs2 */
/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  .section-33 {
    padding: 0 0 64px 0; }
    .section-33 .c-wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px; }
      .section-33 .c-wrapper .c-container-01 {
        display: flex;
        flex-direction: column-reverse;
        background: #ff6b32;
        border-radius: 8px; }
        .section-33 .c-wrapper .c-container-01 .c-item-01 {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 38px 0 34px 30px; }
          .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-02-B {
            font-family: 'Neulis Alt';
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            color: #ffffff; }
            .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-02-B.w {
              width: 254px; }
          .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-02 .c-item-02-A {
            font-family: 'Neulis Alt';
            font-size: 28px;
            font-weight: 600;
            line-height: 26px;
            text-align: left;
            color: #ffffff;
            margin-bottom: 6px; }
          .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-03 {
            display: flex;
            flex-direction: column;
            gap: 20px; }
            .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-03 .c-item-03-A {
              display: flex;
              gap: 16px; }
        .section-33 .c-wrapper .c-container-01 .c-item-04 .c-item-04-A {
          height: 100%;
          z-index: 1;
          object-fit: cover;
          overflow: hidden;
          width: 100%; }
        .section-33 .c-wrapper .c-container-01 .c-item-04 .c-item-04-B {
          position: absolute;
          left: 22px;
          top: 50%;
          z-index: 2; }
        .section-33 .c-wrapper .c-container-01 .c-item-04 .c-item-04-C {
          position: absolute;
          right: 22px;
          top: 50%;
          z-index: 2; }
        .section-33 .c-wrapper .c-container-01.V1 {
          background: #00a925; }
        .section-33 .c-wrapper .c-container-01.V2 {
          background: #9783fe; }
        .section-33 .c-wrapper .c-container-01.V3 {
          background: #00bd99; }
        .section-33 .c-wrapper .c-container-01.V4 {
          background: #e265a2; }
        .section-33 .c-wrapper .c-container-01.V5 {
          background: #00d559; } }
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-33 {
    padding-bottom: 64px; }
    .section-33 .c-wrapper {
      width: 908px;
      display: flex;
      flex-direction: column;
      gap: 36px; }
      .section-33 .c-wrapper .c-container-01 {
        display: flex;
        background: #ff6b32;
        border-radius: 8px; }
        .section-33 .c-wrapper .c-container-01 .c-item-01 {
          display: flex;
          flex-direction: column;
          gap: 50px;
          padding: 38px 0 34px 52px; }
          .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-02-B {
            font-family: 'Neulis Alt';
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            color: #ffffff; }
            .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-02-B.w {
              width: 254px; }
          .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-02 .c-item-02-A {
            font-family: 'Neulis Alt';
            font-size: 28px;
            font-weight: 600;
            line-height: 26px;
            text-align: left;
            color: #ffffff;
            margin-bottom: 6px; }
          .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-03 {
            display: flex;
            flex-direction: column;
            gap: 20px; }
            .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-03 .c-item-03-A {
              display: flex;
              gap: 16px; }
        .section-33 .c-wrapper .c-container-01 .c-item-04 .c-item-04-A {
          height: 100%;
          z-index: 1;
          object-fit: cover;
          border-radius: 8px; }
        .section-33 .c-wrapper .c-container-01 .c-item-04 .c-item-04-B {
          position: absolute;
          left: 22px;
          top: 50%;
          z-index: 2; }
        .section-33 .c-wrapper .c-container-01 .c-item-04 .c-item-04-C {
          position: absolute;
          right: 22px;
          top: 50%;
          z-index: 2; }
        .section-33 .c-wrapper .c-container-01.V1 {
          background: #00a925; }
        .section-33 .c-wrapper .c-container-01.V2 {
          background: #9783fe; }
        .section-33 .c-wrapper .c-container-01.V3 {
          background: #00bd99; }
        .section-33 .c-wrapper .c-container-01.V4 {
          background: #e265a2; }
        .section-33 .c-wrapper .c-container-01.V5 {
          background: #00d559; } }

/*# sourceMappingURL=33.css.map */
