/* Common xs1, xs2 */
/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  .section-33 {
    padding: 32px 0 64px 0; }
    .section-33 .c-wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px; }
      .section-33 .c-wrapper .c-container-01 {
        display: flex;
        flex-direction: column-reverse;
        background: #115600;
        border-radius: 8px;
        overflow: hidden; }
        .section-33 .c-wrapper .c-container-01 .c-item-01 {
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding: 38px 24px 34px 24px; }
          .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-02-B {
            font-family: 'Neulis Alt';
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            color: #ffffff; }
          .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-02 .c-item-02-A {
            font-family: 'Neulis Alt';
            font-size: 28px;
            font-weight: 600;
            line-height: 26px;
            text-align: left;
            color: #ffffff;
            margin-bottom: 6px; }
          .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-03 {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 20px; }
            .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-03 .c-item-03-A {
              display: flex;
              gap: 16px; }
        .section-33 .c-wrapper .c-container-01 .c-item-04 {
          width: 100%;
          height: 280px; }
          .section-33 .c-wrapper .c-container-01 .c-item-04 .swiper {
            width: 100%;
            height: 100%; }
            .section-33 .c-wrapper .c-container-01 .c-item-04 .swiper .swiper-button-prev,
            .section-33 .c-wrapper .c-container-01 .c-item-04 .swiper .swiper-button-next {
              width: 50px;
              height: 42px;
              margin: 0;
              transform: translateY(-50%);
              display: flex;
              justify-content: center;
              align-items: center; }
              .section-33 .c-wrapper .c-container-01 .c-item-04 .swiper .swiper-button-prev::after,
              .section-33 .c-wrapper .c-container-01 .c-item-04 .swiper .swiper-button-next::after {
                display: none; }
              .section-33 .c-wrapper .c-container-01 .c-item-04 .swiper .swiper-button-prev.swiper-button-disabled,
              .section-33 .c-wrapper .c-container-01 .c-item-04 .swiper .swiper-button-next.swiper-button-disabled {
                opacity: 0.5; }
          .section-33 .c-wrapper .c-container-01 .c-item-04 .c-item-04-A {
            width: 100%;
            height: 100%;
            z-index: 1;
            object-fit: cover;
            border-radius: 8px 8px 0 0; }
        .section-33 .c-wrapper .c-container-01.V1 {
          background: #f60; }
        .section-33 .c-wrapper .c-container-01.V2 {
          background: #ecbd32; }
        .section-33 .c-wrapper .c-container-01.V3 {
          background: #0d359c; }
        .section-33 .c-wrapper .c-container-01.V4 {
          background: #6203b2; }
        .section-33 .c-wrapper .c-container-01.V5 {
          background: #684eed; } }
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-33 {
    padding-bottom: 64px; }
    .section-33 .c-wrapper {
      width: 908px;
      display: flex;
      flex-direction: column;
      gap: 36px; }
      .section-33 .c-wrapper .c-container-01 {
        display: flex;
        border-radius: 8px;
        background: #115600; }
        .section-33 .c-wrapper .c-container-01 .c-item-01 {
          display: flex;
          flex-direction: column;
          flex: 1;
          gap: 32px;
          padding: 38px 0 34px 52px; }
          .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-02-B {
            font-family: 'Neulis Alt';
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            color: #ffffff; }
          .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-02 .c-item-02-A {
            font-family: 'Neulis Alt';
            font-size: 28px;
            font-weight: 600;
            line-height: 26px;
            text-align: left;
            color: #ffffff;
            margin-bottom: 6px;
            margin-right: 180px; }
          .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-03 {
            display: flex;
            flex-direction: column;
            gap: 20px; }
            .section-33 .c-wrapper .c-container-01 .c-item-01 .c-item-03 .c-item-03-A {
              display: flex;
              gap: 16px; }
        .section-33 .c-wrapper .c-container-01 .c-item-04 {
          width: 400px;
          height: 300px; }
          .section-33 .c-wrapper .c-container-01 .c-item-04 .swiper {
            width: 100%;
            height: 100%; }
            .section-33 .c-wrapper .c-container-01 .c-item-04 .swiper .swiper-button-prev,
            .section-33 .c-wrapper .c-container-01 .c-item-04 .swiper .swiper-button-next {
              width: 50px;
              height: 42px;
              margin: 0;
              transform: translateY(-50%);
              display: flex;
              justify-content: center;
              align-items: center; }
              .section-33 .c-wrapper .c-container-01 .c-item-04 .swiper .swiper-button-prev::after,
              .section-33 .c-wrapper .c-container-01 .c-item-04 .swiper .swiper-button-next::after {
                display: none; }
              .section-33 .c-wrapper .c-container-01 .c-item-04 .swiper .swiper-button-prev.swiper-button-disabled,
              .section-33 .c-wrapper .c-container-01 .c-item-04 .swiper .swiper-button-next.swiper-button-disabled {
                opacity: 0.5; }
          .section-33 .c-wrapper .c-container-01 .c-item-04 .c-item-04-A {
            width: 100%;
            height: 100%;
            z-index: 1;
            object-fit: cover;
            border-radius: 0 8px 8px 0; }
        .section-33 .c-wrapper .c-container-01.V1 {
          background: #f60; }
        .section-33 .c-wrapper .c-container-01.V2 {
          background: #ecbd32; }
        .section-33 .c-wrapper .c-container-01.V3 {
          background: #0d359c; }
        .section-33 .c-wrapper .c-container-01.V4 {
          background: #6203b2; }
        .section-33 .c-wrapper .c-container-01.V5 {
          background: #684eed; } }

/*# sourceMappingURL=33.css.map */
