/* Common xs1, xs2 */
/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  .section-47 {
    background: #ffffff;
    padding: 54px 0; }
    .section-47.v2 {
      background: #e7f2f0; }
      .section-47.v2 .c-wrapper .c-container-01 {
        background: #ffffff; }
        .section-47.v2 .c-wrapper .c-container-01 .c-item-01 .c-item-01-A {
          color: #0068c7;
          margin-right: 0;
          font-size: 32px;
          font-weight: 600;
          line-height: 44px; }
        .section-47.v2 .c-wrapper .c-container-01 .c-item-01 .c-item-01-B {
          color: #1a4359; }
    .section-47.v3 .c-wrapper .c-container-01 {
      background: #0068c7; }
      .section-47.v3 .c-wrapper .c-container-01.v2 {
        background: #00bd99; }
    .section-47 .c-wrapper {
      display: flex;
      flex-direction: column;
      gap: 52px; }
      .section-47 .c-wrapper .c-container-01 {
        background: #ffb73e;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        justify-content: center;
        align-items: center; }
        .section-47 .c-wrapper .c-container-01.v2 {
          background: #9783fe; }
        .section-47 .c-wrapper .c-container-01 .c-item-01 {
          display: flex;
          flex-direction: column;
          gap: 18px;
          flex: 1;
          margin: 56px 22px; }
          .section-47 .c-wrapper .c-container-01 .c-item-01 .c-item-01-A {
            color: #ffffff;
            font-size: 32px;
            line-height: 44px; }
          .section-47 .c-wrapper .c-container-01 .c-item-01 .c-item-01-B {
            color: #ffffff; }
        .section-47 .c-wrapper .c-container-01 .c-item-03 {
          object-fit: cover; }
          .section-47 .c-wrapper .c-container-01 .c-item-03 img {
            width: 100%;
            height: 100%; }
        .section-47 .c-wrapper .c-container-01 .c-item-02 {
          display: none; } }
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-47 {
    background: #ffffff;
    padding: 64px 0 58px 0; }
    .section-47.v2 {
      background: #e7f2f0; }
      .section-47.v2 .c-wrapper .c-container-01 {
        background: #ffffff; }
        .section-47.v2 .c-wrapper .c-container-01 .c-item-01 .c-item-01-A {
          color: #0068c7;
          margin-right: 0; }
        .section-47.v2 .c-wrapper .c-container-01 .c-item-01 .c-item-01-B {
          color: #1a4359; }
    .section-47.v3 .c-wrapper .c-container-01 {
      background: #0068c7; }
      .section-47.v3 .c-wrapper .c-container-01.v2 {
        background: #00bd99; }
    .section-47 .c-wrapper {
      display: flex;
      flex-direction: column;
      gap: 36px; }
      .section-47 .c-wrapper .c-container-01 {
        background: #ffb73e;
        display: flex;
        border-radius: 8px;
        justify-content: center;
        align-items: center; }
        .section-47 .c-wrapper .c-container-01.v2 {
          background: #9783fe; }
        .section-47 .c-wrapper .c-container-01 .c-item-01 {
          display: flex;
          flex-direction: column;
          gap: 28px;
          flex: 1;
          margin: 0 58px 0 76px; }
          .section-47 .c-wrapper .c-container-01 .c-item-01 .c-item-01-A {
            text-align: left;
            color: #ffffff;
            margin-right: 180px; }
          .section-47 .c-wrapper .c-container-01 .c-item-01 .c-item-01-B {
            text-align: left;
            color: #ffffff; }
        .section-47 .c-wrapper .c-container-01 .c-item-02 {
          object-fit: cover; }
          .section-47 .c-wrapper .c-container-01 .c-item-02 img {
            width: 100%;
            height: 100%; }
        .section-47 .c-wrapper .c-container-01 .c-item-03 {
          display: none; } }

/*# sourceMappingURL=47.css.map */
