@charset "UTF-8";
/* Common xs1, xs2 */
/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  .section-49 {
    background: linear-gradient(0deg, #f31e2b 0%, #f31e2b 100%), url(<path-to-image>) lightgray 50%/cover no-repeat; }
    .section-49 .c-container-01 {
      height: 480px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .section-49 .c-container-01 .c-item-01 {
        position: absolute;
        z-index: 3;
        width: 295px;
        height: 193px;
        left: calc(50% - 147.5px);
        top: calc(50% - 91.5px);
        overflow: hidden;
        /* Taşan içeriği gizleyin */ }
        .section-49 .c-container-01 .c-item-01 .c-item-01-A {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url("/Content/Files/Images/Home/minirenkte-yasam/1.png") no-repeat center center;
          background-size: contain;
          mix-blend-mode: multiply; }
        .section-49 .c-container-01 .c-item-01 .c-item-01-B {
          width: 100%;
          height: 100%;
          object-fit: cover;
          mask-image: url("/Content/Files/Images/Home/minirenkte-yasam/1.png");
          /* Yıldız şeklindeki maskeyi belirtin */
          mask-size: contain;
          mask-repeat: no-repeat;
          mask-position: center; }
      .section-49 .c-container-01 .c-item-02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3;
        position: absolute;
        width: 100%;
        height: 100%; }
        .section-49 .c-container-01 .c-item-02 .c-item-02-A {
          font-family: 'Neulis Alt';
          font-size: 40px;
          font-weight: 300;
          line-height: 40px;
          text-align: center;
          color: #ffffff; }
        .section-49 .c-container-01 .c-item-02 .w {
          font-weight: 600; }
      .section-49 .c-container-01 .c-item-03 {
        z-index: 3;
        position: absolute;
        bottom: -2px; } }
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-49 {
    background: linear-gradient(0deg, #f31e2b 0%, #f31e2b 100%), url(<path-to-image>) lightgray 50%/cover no-repeat; }
    .section-49 .c-container-01 {
      height: 480px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .section-49 .c-container-01 .c-item-01 {
        position: absolute;
        z-index: 3;
        width: 606px;
        height: 396px;
        left: calc(50% - 303px);
        top: calc(50% - 198px);
        overflow: hidden;
        /* Taşan içeriği gizleyin */ }
        .section-49 .c-container-01 .c-item-01 .c-item-01-A {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url("/Content/Files/Images/Home/minirenkte-yasam/1.png") no-repeat center center;
          background-size: contain;
          mix-blend-mode: multiply; }
        .section-49 .c-container-01 .c-item-01 .c-item-01-B {
          width: 100%;
          height: 100%;
          object-fit: cover;
          mask-image: url("/Content/Files/Images/Home/minirenkte-yasam/1.png");
          /* Yıldız şeklindeki maskeyi belirtin */
          mask-size: contain;
          mask-repeat: no-repeat;
          mask-position: center; }
      .section-49 .c-container-01 .c-item-02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0px; }
        .section-49 .c-container-01 .c-item-02 .c-item-02-A {
          font-family: 'Neulis Alt';
          font-size: 96px;
          font-weight: 300;
          line-height: 92px;
          text-align: center;
          color: #ffffff; }
        .section-49 .c-container-01 .c-item-02 .w {
          font-weight: 600; }
      .section-49 .c-container-01 .c-item-03 .img {
        position: absolute;
        z-index: 3; } }

/*# sourceMappingURL=49.css.map */
