@import '../Base/Global.scss';

@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .footer-01 {
    padding-top: 102px;

    .c-container-01 {
      height: 240px;
      background-color: #0068c7;
      margin-bottom: 46px;

      .c-wrapper {
        .c-item-01 {
          font-size: 30px;
          font-weight: 600;
          line-height: 56px;
          text-align: center;
          color: #ffffff;
          padding-top: 116px;
        }

        .c-item-02 {
          display: none;
        }

        .c-item-03 {
          font-size: 12px;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
          color: #ffffff;
          padding-bottom: 36px;
        }

        .c-item-04 {
          position: absolute;
          top: -48px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .c-container-02 {
      .c-wrapper {
        .c-item-01 {
          display: flex;
          justify-content: center;

          .c-unit-01 {
            display: none;
            margin: 60px 0 60px 0;
          }

          .c-unit-02 {
            display: none;
          }
        }

        .c-item-02 {
          display: flex;
          flex-direction: column;
          gap: 60px;
          margin-top: 60px;

          .c-unit-01 {
            display: grid;
            grid-template-columns: auto auto;

            .c-unit-01-A {
              display: flex;
              flex-direction: column;
              .c-unit-01-A-01 {
                margin-bottom: 28px;
              }
            }

            .c-unit-01-B {
              display: flex;
              flex-direction: column;
              .c-unit-01-B-01 {
                margin-bottom: 28px;
              }
            }

            .c-unit-01-C {
              display: none;
            }
          }

          .c-unit-02 {
            .c-unit-02-A {
              display: flex;
              flex-direction: column;
              .c-unit-02-A-01 {
                margin-bottom: 28px;
              }
              .c-unit-02-A-02 {
                width: 268px;
              }

              .c-unit-02 {
                width: 272px;
              }
            }

            .c-unit-02-B {
              margin: 42px 0 0 0;

              .c-unit-02-C {
                display: flex;
                gap: 24px;
                .c-unit-02-C-01,
                .c-item-02-C-02 {
                  color: #1a4359;
                }
              }

              .c-unit-02-B-01 {
                margin: 16px 0 8px 0;
              }
              .c-unit-02-B-02 {
                color: #1a4359;
              }
            }
          }

          .c-unit-03 {
            display: flex;
            gap: 12px;
            grid-column: 1 / span 2;
            align-items: center;
          }
        }
      }
    }

    .c-container-03 {
      background-color: #e9eff5;
      padding: 16px 0;
      margin-top: 90px;

      .c-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 12px;

        &.font {
          font-size: 12px;
          font-weight: 400;
          line-height: 24px;
          color: #1a4359;
        }

        .c-item-02 {
          font-size: 12px;
          font-weight: 400;
          line-height: 24px;
          color: #1a4359;
        }
      }
    }

    .c-container-04 {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      gap: 16px;
      position: fixed;
      bottom: 0;
      z-index: 100;
      padding: 16px;
      .c-item {
        &.bg-01 {
          background: rgba(0, 104, 199, 0.15);
        }

        &.bg-02 {
          border: 0px solid #f60;
          background: rgba(255, 102, 0, 0.15);
        }

        &.bg-03 {
          border: 0px solid #00bd99;
          background: rgba(0, 189, 153, 0.15);
        }

        &.bg-04 {
          border: 0px solid #8522d7;
          background: rgba(133, 34, 215, 0.15);
        }

        .c-item-01 {
          flex: 1;
          padding: 46px 120px 56px 56px;

          .c-item-01-B {
            margin: 16px 0 24px 0;
            height: 96px;
            color: #1a4359;
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 400;
            line-height: 142.383%;
            /* 22.781px */
            letter-spacing: -0.05px;
          }
        }

        .c-item-02 {
          width: 470px;
          height: 376px;
          object-fit: cover;
        }
      }
    }
  }
}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
  .footer-01 {
    .c-container-01 {
      height: 90px;
      background-color: #0068c7;

      .c-wrapper {
        display: flex;
        height: 100%;
        column-gap: 20px;
        text-align: center;
        flex-direction: row;
        align-items: center;

        .c-item-01 {
          font-size: 30px;
          font-weight: 600;
          line-height: 58px;
          text-align: left;
          color: #fff;
          .c-unit-01 {
            color: #1a4359;
            font-family: 'Neulis Alt';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 0%; /* 0px */
          }
          .c-unit-02 {
            display: flex;
            gap: 12px;
          }
        }

        .c-item-02 {
        }

        .c-item-03 {
          font-size: 20px;
          font-weight: 400;
          line-height: 38px;
          // text-align: left;
          color: #fff;
        }

        .c-item-04 {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }

    .c-container-02 {
      .c-wrapper {
        display: flex;
        padding: 60px 0 50px 0;

        .c-item-01 {
          .c-unit-01 {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            margin: 80px 0 10px 0;
          }
          .c-unit-02 {
            display: flex;
            gap: 12px;
          }
        }

        .c-item-02 {
          display: grid;
          grid-template-columns: auto auto;

          .c-unit-01 {
            display: grid;
            grid-template-columns: auto auto;
            margin-left: 310px;
            margin-right: 112px;
            column-gap: 70px;

            .c-unit-01-A {
              display: flex;
              flex-direction: column;
              .c-unit-01-A-01 {
                margin-bottom: 28px;
              }
            }

            .c-unit-01-B {
              display: flex;
              flex-direction: column;
              .c-unit-01-B-01 {
                margin-bottom: 28px;
              }
            }

            .c-unit-01-C {
              display: flex;
              gap: 12px;
              margin-top: 56px;
              grid-column: 1 / span 2;
              align-items: center;
            }
          }

          .c-unit-02 {
            gap: 42px;
            display: flex;
            flex-direction: column;

            .c-unit-02-A {
              width: 272px;

              .c-unit-02-A-02 {
                margin-top: 28px;
              }
            }

            .c-unit-02-B {
              display: flex;
              flex-direction: column;

              .c-unit-02-C {
                display: flex;
                gap: 24px;
                color: #1a4359;
                .c-unit-02-C-01,
                .c-item-02-C-02 {
                  color: #1a4359;
                }
              }

              .c-unit-02-B-01 {
                margin: 16px 0 8px 0;
              }
              .c-unit-02-B-02 {
                margin-top: 12px;
                color: #1a4359;
              }
            }
          }

          .c-unit-03 {
            display: none;
          }
        }
      }
    }

    .c-container-03 {
      background-color: #e9eff5;
      padding: 16px 0 16px 0;

      .c-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.font {
          font-size: 12px;
          font-weight: 400;
          line-height: 24px;
          color: #1a4359;
        }

        .c-item-02 {
          color: #1a4359;
        }
      }
    }
    .c-container-04 {
      display: none;
    }
  }
}
