@import "../Base/Global.scss";


.comp-header-01 {
    position: fixed;
    width: 100%;
    top: 35px;
    z-index: 200;
    @include dynamicTransition(transform 0.25s, background 0.25s, box-shadow 0.25s);
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);

    .c-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 137px;
        @include dynamicTransition(height 0.25s);
    }

    #site-logo {
        z-index: 2;

        .logo-1 {
            display: none;
        }

        .logo-2 {
        }

        .logo-3 {
            display: none;
        }

        .logo-4 {
            display: none;
        }
    }

    #menu-primary {
        z-index: 1;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        left: 0;

        ul {
            display: flex;
            height: 24px;
            align-items: center;

            li {
                &:not(:last-child) {
                    margin-right: 31px;

                    &:after {
                        content: "";
                        position: absolute;
                        right: -16px;
                        top: 0;
                        height: 24px;
                        width: 1px;
                        background: #BBBBBB;
                        opacity: 0.41;
                        @include dynamicTransition(background 0.25s);
                    }
                }

                a {
                    font-weight: 400;
                    font-size: 0.75em;
                    line-height: 15px;
                    letter-spacing: 0.03em;
                    color: #000;
                    @include dynamicTransition(border-bottom 0.25s, color 0.25s);
                    border-bottom: 2px solid rgba(255, 255, 255, 0);

                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -5px;
                        height: 2px;
                        background: #000;
                        visibility: hidden;
                        opacity: 0;
                        @include dynamicTransition(background 0.25s, visibility 0s 0.25s, opacity 0.25s);
                    }
                }

                &:hover {
                    a {
                        &:after {
                            visibility: visible;
                            opacity: 1;
                            @include dynamicTransition(visibility 0s 0s, opacity 0.35s);
                        }
                    }
                }
            }
        }
    }
 
}

.header-top {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 0.8125em;
    line-height: 17px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    left: 0px;
    top: 0px;
    background: #015D4F;
    position: fixed;
}


.tranparent-header {

    .header-top {
        display: none;
    }

    .comp-header-01 {
        transform: translateY(-35px);
        background: transparent;
        box-shadow: none;

        #site-logo {


            .logo-1 {
                display: block;
            }

            .logo-2 {
                display: none;
            }
        }

        #menu-primary {

            ul {

                li {
                    &:not(:last-child) {

                        &:after {
                            background: #FFFFFF;
                        }
                    }

                    a {
                        color: #FFFFFF;
                        font-weight: 600;

                        &:after {
                            background: #FFFFFF;
                        }
                    }
                }
            }
        }

        #activity-container {

            .c-item-01 {
                color: #FFFFFF;
                font-weight: 600;

                &:hover {
                    //transform: scale(1.05);
                }

                .c-item-01-A {
                    display: block;
                }

                .c-item-01-B {
                    display: none;
                }

                span {
                    padding-top: 1px;
                }
            }

            .c-item-02 {

                .c-item-02-A {
                    display: block;
                }

                .c-item-02-B {
                    display: none;
                }
            }
        }
    }
}

.f-scrolled {
    .header-top {
        display: none;
    }

    .comp-header-01 {
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
        transform: translateY(-35px);


        .c-wrapper {
            height: 69px;
        }

        #site-logo {

            .logo-1 {
                display: none;
            }

            .logo-2 {
                display: none;
            }

            .logo-3 {
                display: block;
            }
        }

        #menu-primary {

            ul {

                li {
                    &:not(:last-child) {

                        &:after {
                            background: #BBBBBB;
                        }
                    }

                    a {
                        color: #000;
                        font-weight: 400;

                        &:after {
                            background: #000;
                        }
                    }
                }
            }
        }

        #activity-container {

            .c-item-01 {
                color: #000;
                font-weight: 400;


                .c-item-01-A {
                    display: none;
                }

                .c-item-01-B {
                    display: block;
                }
            }

            .c-item-02 {
                margin-left: 15px;

                .c-item-02-A {
                    display: none;
                }

                .c-item-02-B {
                    display: block;
                }

                .c-item-02-C {
                    display: none;
                }
            }
        }
    }
}

.menu-header {
    border-bottom: 1px solid #08695A;
    height: 177px;

    .c-wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: scale(1.4);
        transition: transform 0.4s;

        .c-item-01 {
            z-index: 2;
            display: flex;

            > a {
                font-weight: 600;
                font-size: 1em;
                line-height: 19px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
                @include dynamicTransition(border-bottom 0.25s, color 0.25s);
                border-bottom: 2px solid rgba(255, 255, 255, 0);

                &:not(:last-child) {
                    margin-right: 40px;

                    &:after {
                        content: "";
                        position: absolute;
                        right: -20px;
                        top: 0;
                        height: 24px;
                        width: 1px;
                        background: #FFFFFF;
                        opacity: 0.41;
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -5px;
                    height: 2px;
                    background: #FFFFFF;
                    visibility: hidden;
                    opacity: 0;
                    @include dynamicTransition(background 0.25s, visibility 0s 0.25s, opacity 0.25s);
                }

                &:hover {

                    &:before {
                        visibility: visible;
                        opacity: 1;
                        @include dynamicTransition(visibility 0s 0s, opacity 0.35s);
                    }
                }
            }
        }

        .c-item-02 {
            z-index: 1;
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            left: 0;
        }

        .c-item-03 {
            z-index: 2;
            display: flex;
            align-items: center;

            .c-item-03-A {
                font-weight: 400;
                font-size: 1em;
                line-height: 19px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
                margin-right: 12px;
                display: flex;
                align-items: center;

                svg {
                    margin-right: 4px;
                }
            }

            .c-item-03-B {
                margin-left: 46px;
            }
        }

        .c-item-04 {
            display: none;
        }
    }

    .menu-reserv {
        display: none;
    }
}

.menu-body {
    flex: 1;
    padding: 25px 0;

    .c-wrapper {
        height: 100%;
        display: flex;

        > .menu-img-container {
            height: 100%;
            margin-right: 78px;
            width: 333px;

            .menu-img {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 333px;
                object-fit: cover;
                visibility: hidden;
                opacity: 0;
                @include dynamicTransition(visibility 0s 0.25s, opacity 0.25s);

                &.active-img {
                    visibility: visible;
                    opacity: 1;
                    @include dynamicTransition(visibility 0s 0s, opacity 0.35s);
                }
            }
        }

        > nav {
            height: 100%;
            display: flex;
            align-items: center;

            > ul {
                max-height: 100%;
                padding-right: 180px;

                > li {
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    > a {
                        font-weight: 500;
                        font-size: 2.8125em;
                        line-height: 60px;
                        color: #699F97;
                        transition: color 0.25s;
                        font-family: 'Playfair Display';

                        .arrows {
                            svg {
                                &:first-child {
                                    position: absolute;
                                    bottom: 16px;
                                    left: 8px;
                                    visibility: visible;
                                    opacity: 1;
                                    @include dynamicTransition(visibility 0s 0s, opacity 0.25s);
                                }

                                &:last-child {
                                    position: absolute;
                                    bottom: 16px;
                                    left: 8px;
                                    visibility: hidden;
                                    opacity: 0;
                                    @include dynamicTransition(visibility 0s 0.25s, opacity 0.25s, transform 0.35s);
                                }

                                &.mobile-arrow {
                                    bottom: 4px;
                                }
                            }
                        }

                        &:hover {
                            color: #FFF;

                            .arrows {
                                svg {

                                    &:first-child {
                                        visibility: hidden;
                                        opacity: 0;
                                        @include dynamicTransition(visibility 0s 0.25s, opacity 0.25s);
                                    }

                                    &:last-child {
                                        visibility: visible;
                                        opacity: 1;
                                        @include dynamicTransition(visibility 0s 0s, opacity 0.25s, transform 0.35s);
                                    }
                                }
                            }
                        }
                    }

                    > .expandingStatus {
                        ul {
                            padding: 12px 0 18px 4px;

                            li {
                                &:not(:last-child) {
                                    margin-bottom: 2px;
                                }

                                > a {
                                    font-weight: 400;
                                    font-size: 1em;
                                    line-height: 158.6%;
                                    color: #FFFFFF;
                                    transition: color 0.25s;
                                    font-family: 'Playfair Display';

                                    &:hover {
                                        color: #FFF;
                                    }
                                }
                            }
                        }
                    }

                    &.on {
                        > a {
                            color: #FFF;

                            .arrows {
                                svg {
                                    &:first-child {
                                        visibility: hidden;
                                        opacity: 0;
                                        @include dynamicTransition(visibility 0s 0.25s, opacity 0.25s);
                                    }

                                    &:last-child {
                                        visibility: visible;
                                        opacity: 1;
                                        @include dynamicTransition(visibility 0s 0s, opacity 0.35s, transform 0.35s);
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .bg-menu-img {
        position: fixed;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.35s;
    }

    .bg-menu-img-mobile {
        display: none;
    }
}

.menu-footer {
    border-top: 1px solid #08695A;
    height: 80px;


    .c-wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .c-item-01 {
        display: flex;

        a {
            display: flex;
            font-weight: 500;
            font-size: 0.875em;
            line-height: 18px;
            color: #FFFFFF;
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.04);
            }

            &:not(:last-child) {
                margin-right: 16px;
            }
        }
    }

    .c-item-02 {
        display: flex;

        a {
            display: flex;
            transition: transform 0.25s;

            &:hover {
                transform: scale(1.1);
            }


            &:not(:last-child) {
                margin-right: 12px;
            }

            svg {
                &:first-child {
                }

                &:last-child {
                    display: none;
                }
            }
        }
    }

    .c-item-03 {
        display: none;
    }
}

.dir-f-menu {
    background-color: #015D4F !important;

    .menu-header {
        .c-wrapper {
            transform: scale(1);
        }
    }

    .menu-body {
        .bg-menu-img, .bg-menu-img-mobile {
            opacity: 1;
        }
    }
}




/* Common xs1, xs2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .header-top {
        display: none;
    }
    .tranparent-header .comp-header-01, .comp-header-01 {
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
        top: 0;
        transform: translateY(0);



        .c-wrapper {
            height: 71px;
        }

        #site-logo {

            .logo-1 {
                display: none;
            }

            .logo-2 {
                display: none;
            }

            .logo-3 {
                display: none;
            }

            .logo-4 {
                display: block;
            }
        }

        #menu-primary {
            display: none;
        }

        #activity-container {

            .c-item-01 {
                display: none;
            }

            .c-item-02 {
                margin-left: 0;

                .c-item-02-A {
                    display: none;
                }

                .c-item-02-B {
                    display: none;
                }

                .c-item-02-C {
                    display: none;
                }

                .c-item-02-D {
                    display: block;
                }
            }
        }
    }
   
    main {
        transform: translateY(71px);
        margin-bottom: 71px;
    }

    .home-page {
        main {
            transform: translateY(0);
            margin-bottom: 0;
        }

        .comp-header-01 {
            transform: translateY(0);
            background: transparent;
            box-shadow: none;

            #site-logo {


                .logo-1 {
                    display: block;
                    width: 77.95px;
                    height: 46px;
                }

                .logo-2 {
                    display: none;
                }

                .logo-4 {
                    display: none;
                }
            }

            #activity-container {
 
                .c-item-02 {

                    .c-item-02-A {
                        display: block;
                    }

                    .c-item-02-B {
                        display: none;
                    }

                    .c-item-02-D {
                        display: none;
                    }
                }
            }
        }
    }

    .f-scrolled {

        .comp-header-01 {
            transform: translateY(0);
            margin-bottom: 0;

            .c-wrapper {
                height: 71px;
            }

            #site-logo {

                .logo-3 {
                    display: none;
                }
            }


            #activity-container {

                .c-item-02 {
                    margin-left: 0;

                    .c-item-02-C {
                        display: none;
                    }

                    .c-item-02-B {
                        display: none;
                    }
                }
            }
        }

        &.home-page {

            .comp-header-01 {
                background: #FFFFFF;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);

                #site-logo {


                    .logo-1 {
                        display: none;
                    }

                    .logo-2 {
                        display: none;
                    }

                    .logo-4 {
                        display: block;
                    }
                }

                #activity-container {

                    .c-item-02 {

                        .c-item-02-A {
                            display: none;
                        }

                        .c-item-02-B {
                            display: none;
                        }

                        .c-item-02-D {
                            display: block;
                        }
                    }
                }
            }
        }
         
    }
     
    .menu-header {
        border-bottom: none;
        height: 71px;
        background: #015D4F;

        .c-wrapper {
            height: 71px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transform: scale(1);

            .c-item-01 {
                display: none;
            }

            .c-item-02 {
                z-index: 1;
                position: relative;
                width: auto;
                display: flex;
                justify-content: center;

                svg {
                    width: 77.95px;
                }
            }

            .c-item-03 {
                display: none;
            }

            .c-item-04 {
                display: flex;
            }
        }

        .menu-reserv {
            background: #BD9A5F;
            height: 39px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 0.8125em;
            line-height: 17px;
            letter-spacing: 0.15em;
            color: #FFFFFF;
            z-index:4;
        }
    }


    .menu-body {
        flex: 1;
        padding: 25px 0;
        background: #FFF;
        z-index: 1;

        .c-wrapper {
            height: 100%;
            display: flex;
            z-index: 2;

            > .menu-img-container {
                display: none;
            }

            > nav {
                height: 100%;
                display: flex;
                align-items: center;
                width: 100%;

                > ul {
                    width: 100%;
                    max-height: 100%;
                    padding-right: 0;

                    > li {
                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }

                        > a {
                            font-weight: 500;
                            font-size: 1.5625em;
                            line-height: 33px;
                            color: #015D4F;

                            .arrows {
                                svg {
                                    &:first-child {
                                        display: none;
                                    }

                                    &:last-child {
                                        display: none;
                                    }

                                    .mobile-arrow {
                                        display: block;
                                    }
                                }
                            }

                            &:hover {
                                color: #015D4F;
                            }
                        }

                        > .expandingStatus {
                            ul {
                                padding: 12px 0 18px 4px;

                                li {
                                    &:not(:last-child) {
                                        margin-bottom: 2px;
                                    }

                                    > a {
                                        font-weight: 400;
                                        font-size: 1.25em;
                                        line-height: 33px;
                                        color: #015D4F;

                                        &:hover {
                                            color: #015D4F;
                                        }
                                    }
                                }
                            }
                        }

                        &.on {
                            > a {
                                color: #015D4F;
                            }
                        }
                    }
                }
            }
        }

        .bg-menu-img {
            display: none;
        }

        .bg-menu-img-mobile {
            display: block;
            position: fixed;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity 0.35s;
        }
    }

    .menu-footer {
        border-top: 1px solid rgba(1, 93, 79, 0.2);
        height: 148px;
        background: #FFF;
        z-index: 5;

        .c-wrapper {
            height: 100%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .c-item-01 {
            display: none;
        }

        .c-item-02 {
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid rgba(1, 93, 79, 0.2);
            height: 87px;
            width: 100%;

            a {
                display: flex;
                justify-content: center;

                &:hover {
                    transform: scale(1);
                }


                &:not(:last-child) {
                    margin-right: 12px;
                }

                svg {
                    &:first-child {
                        display: none;
                    }

                    &:last-child {
                        display: block;
                    }
                }
            }
        }

        .c-item-03 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 61px;
            width: 100%;

            a {
                font-weight: 600;
                font-size: 1em;
                line-height: 19px;
                letter-spacing: 0.03em;
                color: #015D4F;
                height: 24px;
                display: flex;
                align-items: center;

                &:first-child {
                    margin-right: 40px;

                    &:after {
                        content: "";
                        height: 24px;
                        width: 1px;
                        background: #015D4F;
                        opacity: 0.41;
                        position: absolute;
                        top: 0;
                        right: -20px;
                    }
                }
            }
        }
    }

    

}
/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {

    main {
        transform: translateY(172px);
        margin-bottom:172px;
    }

    .tranparent-header {
        main {
            transform: translateY(0);
            margin-bottom: 0;
        }
    }

    .header-v2 {
        main {
            transform: translateY(138px);
            margin-bottom: 138px;
        }

        .comp-header-01 {
            .c-wrapper {
                height: 103px;
            }

            #site-logo {
                z-index: 2;

                .logo-1 {
                    display: none;
                }

                .logo-2 {
                    display: none;
                }

                .logo-3 {
                    display: block;
                }

                .logo-4 {
                    display: none;
                }
            }
        }

        &.f-scrolled .comp-header-01 .c-wrapper {
            height: 69px;
        }
    }


    .menu-body {
       
        .c-wrapper {
            
            > nav {
                
                > ul {
                    
                    > li {
                        
                        > a {
                             
                            .arrows {
                                svg {
                                    
                                    &.mobile-arrow {
                                       display:none;
                                    }
                                }
                            }
                             
                        }
                         
                    }
                }
            }
        }
         
    }
}


@media all and (min-width: #{$mq-sm1 + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
    .menu-body .c-wrapper > .menu-img-container {
        max-height: 600px;
        margin: auto 123px auto 0;
    }
}