@import "../Base/Global.scss";

[data-modal-section = 'content'] {
    display: none;
}

// CONFIGURATIONS:
//
// *** NOTE: Duration values have to be identically same as js config values! ***
//
// I. Modal:
//
// I.I. General properties:
$modal-bg-color: #fff;
//
// I.II. Large Modal:
//
// I.II.I. Width values based on media query range:
$large-modal-width-xs-1: '100%';
$large-modal-width-xs-2: '100%';
$large-modal-width-sm-1: 620;
$large-modal-width-sm-2: 620;
$large-modal-width-md: 800;
$large-modal-width-lg: 800;
//
// I.II.II. Height values based on media query range:
$large-modal-height-xs-1: '50%';
$large-modal-height-xs-2: '50%';
$large-modal-height-sm-1: 350;
$large-modal-height-sm-2: 350;
$large-modal-height-md: 450;
$large-modal-height-lg: 450;
//
// I.II.III. Animation duration:
$large-modal-animation-on-duration: 0.5;
$large-modal-animation-off-duration: 0.3;
//
// I.II.IV. Animation duration:
$large-modal-animation-on-ease: 'ease-in-out';
$large-modal-animation-off-ease: 'ease-in-out';
//
// I.III. Small Modal:
//
// I.III.I. Width values based on media query range:
$small-modal-width-xs-1: '100%';
$small-modal-width-xs-2: '100%';
$small-modal-width-sm-1: 448;
$small-modal-width-sm-2: 448;
$small-modal-width-md: 448;
$small-modal-width-lg: 448;
//
// I.III.II. Height values based on media query range:
$small-modal-height-xs-1: '100%';
$small-modal-height-xs-2: '100%';
$small-modal-height-sm-1: 610;
$small-modal-height-sm-2: 610;
$small-modal-height-md: 610;
$small-modal-height-lg: 610;
//
// I.III.III. Animation duration:
$small-modal-animation-on-duration: 0.5;
$small-modal-animation-off-duration: 0.3;
//
// I.III.IV. Animation duration:
$small-modal-animation-on-ease: 'ease-in-out';
$small-modal-animation-off-ease: 'ease-in-out';
//
//
//
// END of CONFIGURATION
//
//
//
#modal-wrapper.type-mdl {
    position: fixed;
    z-index: 1000;
    visibility: hidden;
    background-color: $modal-bg-color;
    opacity: 0;

    &.dir-fade {
        &.size-lg {
            @include dynamicTransition(visibility 0s #{$large-modal-animation-off-duration}s, opacity #{$large-modal-animation-off-duration}s #{$large-modal-animation-on-ease});
        }
         
        &.size-sm {
            @include dynamicTransition(visibility 0s #{$small-modal-animation-off-duration}s, opacity #{$small-modal-animation-off-duration}s #{$small-modal-animation-on-ease});
        }
    }

    #modal-content {
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    #modal-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    #modal-body {
        flex: 1;
        overflow-y: auto;
    }

    #modal-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // Footer style for custom layout
        &.footer-01 {
            justify-content: center !important;
        }

        .lnkBtnModalPrimary, .lnkBtnModalSecondary, .lnkBtnModalTertiary {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #modal-close {
        position: absolute;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #fff;
        opacity: 0;
        @include dynamicTransition(transform 0.25s ease, opacity 0.3s 0.2s);
        &:hover {
            @include dynamicTransform (scale(1.04));
        }
    }

    &.on {
        visibility: visible;
        opacity: 1;

        &.dir-fade {
            &.size-lg {
                opacity: 1;
                @include dynamicTransition(visibility 0s 0s, opacity #{$large-modal-animation-on-duration}s #{$large-modal-animation-on-ease});
            }
             
            &.size-sm {
                opacity: 1;
                @include dynamicTransition(visibility 0s 0s, opacity #{$small-modal-animation-on-duration}s #{$small-modal-animation-on-ease});
            }
        }

        #modal-close {
            opacity: 1;
            @include dynamicTransition(transform 0.25s ease, opacity 0.3s 0s);
        }
    }

    &.size-lg {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }
}
//
//
/* Common XS1 and XS2 */
//
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    #modal-wrapper.type-mdl {
        &.size-lg {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
         
        &.size-sm {
            top: 0;
            left: 0;
            width: #{$small-modal-width-xs-1};
            height: #{$small-modal-height-xs-1};
        }

        &.dir-md-fade {
        }

        &.on {
            &.dir-md-fade {
            }
        }
    }
}


@media all and (min-width: #{$mq-sm1 + "px"}) {
    #modal-wrapper.type-mdl {

        &.size-lg {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        &.size-sm {
            top: calc(50% - #{$small-modal-height-md / 2}px);
            left: calc(50% - #{$small-modal-width-md / 2}px);
            width: #{$small-modal-width-md}px;
            height: #{$small-modal-height-md}px;
        }

        &.dir-md-fade {
        }

        &.on {
            &.dir-md-fade {
            }
        }
    }
}
 
