@import "Global.scss";

#mq-info {
    height: 0px !important;
}

#mq-values {
    height: 0px !important;

    #mq-xs1 {
        width: #{$mq-xs1 + "px"};
    }

    #mq-xs2 {
        width: #{$mq-xs2 + "px"};
    }

    #mq-sm1 {
        width: #{$mq-sm1 + "px"};
    }

    #mq-sm2 {
        width: #{$mq-sm2 + "px"};
    }

    #mq-md {
        width: #{$mq-md + "px"};
    }

    #mq-lg {
        width: #{$mq-lg + "px"};
    }
}

@media all and (max-width: #{($mq-xs2 - 1) + "px"}) {
    #mq-info {
        width: #{$mq-xs1 + "px"};
    }
}

@media all and (min-width: #{$mq-xs2 + "px"}) and (max-width: #{($mq-sm1 - 1) + "px"}) {
    #mq-info {
        width: #{$mq-xs2 + "px"};
    }
}

@media all and (min-width: #{$mq-sm1 + "px"}) and (max-width: #{($mq-sm2 - 1) + "px"}) {
    #mq-info {
        width: #{$mq-sm1 + "px"};
    }
}

@media all and (min-width: #{$mq-sm2 + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
    #mq-info {
        width: #{$mq-sm2 + "px"};
    }
}

@media all and (min-width: #{$mq-md + "px"}) and (max-width: #{($mq-lg - 1) + "px"}) {
    #mq-info {
        width: #{$mq-md + "px"};
    }
}

@media all and (min-width: #{$mq-lg + "px"}) {
    #mq-info {
        width: #{$mq-lg + "px"};
    }
}