.tb-01,
.ta-01 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 12px 16px 20px;
  height: 50px;
  background: transparent;
  font-style: normal;
  color: #1a4359;
  transition: border 0.2s;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  &:focus,
  &:not([value='']):not(:focus) {
    border: 1px solid #0066c1;

    ~ .tb-placeholder-01 {
      transform: translateY(-21px);
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      padding: 0 8px;
    }
  }
}
.ta-01 {
  height: 177px;
}

.tb-placeholder-01 {
  position: absolute;
  top: 16px;
  left: 20px;
  background-color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #bebebe;
  transition: transform 0.3s;
}
.g-recaptcha {
  margin-bottom: 24px;
}

.select-01 {
  width: 100%;
  font-family: 'Neulis Alt';
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 12px 16px 20px;
  height: 50px;
  background: transparent;
  transition: border 0.2s;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin-bottom: 24px;
  background-image: url(../../../Content/Files/Images/arrow-bottom.png);
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 18px;

  color: #bebebe;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  &:not([value='']) {
    color: #1a4359;
    font-weight: 600;
  }
}

.input-file-container {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  background: #fff;
  margin-bottom: 24px;

  .file-hint {
    padding: 12px 22px;
    color: #0066c1;
    font-size: 12px;
    font-weight: 510;
    line-height: 18.5px;
    letter-spacing: -0.12px;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 6px;

    #file-name {
      word-break: break-all;
    }
    #delete-file-button {
      color: #ff2340;
    }
    #delete-file-button,
    #file-name {
      display: none;
    }
    &.on {
      #delete-file-button,
      #file-name {
        display: block;
      }
      #upload-text {
        display: none;
      }
    }
  }
  > label {
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    background: #0066c1;
    height: 100%;
    padding: 12px 22px;

    color: #fff;
    font-size: 12px;
    font-weight: 510;
    line-height: 18.5px;
    letter-spacing: -0.12px;
    input {
      display: none;
    }
  }
}
