@import '../Base/Global.scss';

.parenterror {
  input[type='text'].error,
  select.error {
    border: 2px solid #a32f2a !important;
    margin-bottom: 0;
  }

  .chk-label-01 {
    &::before {
      border: 2px solid #941313 !important;
    }
  }

  label.error {
    display: block;
    color: #a32f2a !important;
    font-size: 12px;
    font-weight: 500;
    margin: 4px 0 16px;
  }
}
