/* Common XS1 and XS2 */
/* LG */
#mq-info {
  height: 0px !important;
}

#mq-values {
  height: 0px !important;
}
#mq-values #mq-xs1 {
  width: 0px;
}
#mq-values #mq-xs2 {
  width: 420px;
}
#mq-values #mq-sm1 {
  width: 768px;
}
#mq-values #mq-sm2 {
  width: 1024px;
}
#mq-values #mq-md {
  width: 1380px;
}
#mq-values #mq-lg {
  width: 1680px;
}

@media all and (max-width: 419px) {
  #mq-info {
    width: 0px;
  }
}
@media all and (min-width: 420px) and (max-width: 767px) {
  #mq-info {
    width: 420px;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  #mq-info {
    width: 768px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1379px) {
  #mq-info {
    width: 1024px;
  }
}
@media all and (min-width: 1380px) and (max-width: 1679px) {
  #mq-info {
    width: 1380px;
  }
}
@media all and (min-width: 1680px) {
  #mq-info {
    width: 1680px;
  }
}
*, *::before, *::after {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  outline: 0;
  text-rendering: optimizeLegibility;
  font-size: inherit;
}

blockquote {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main, header, aside, img {
  display: block;
}

input:not([type=checkbox]):not([type=radio]), textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=checkbox], input[type=radio] {
  position: absolute;
  z-index: -100;
  opacity: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield !important;
  /* Firefox */
}

hr {
  height: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
}
body.noscroll {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

main {
  margin-top: 137px;
}

#content-wrapper {
  z-index: 0;
}

#overlay-wrapper {
  display: block;
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(34, 31, 68, 0.24);
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s 0s;
}
#overlay-wrapper.on {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0s, opacity 0.3s 0.05s;
}

.c-wrapper {
  margin: 0 auto 0 auto;
}

.no-header header {
  display: none;
}

.no-menu #menu-primary,
.no-menu #hamburger-menu-wrapper {
  display: none;
}

.no-footer footer {
  display: none;
}

.custom-scroll-01 {
  overflow-y: auto;
}
.custom-scroll-01::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll-01::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 2px;
  background-color: #F5F7F9;
}

/* Common XS1 and XS2 */
/* XS1 */
@media all and (max-width: 419px) {
  .c-wrapper {
    width: calc(100% - 40px);
  }
}
/* XS2 */
@media all and (min-width: 420px) and (max-width: 767px) {
  .c-wrapper {
    width: calc(100% - 40px);
  }
}
/* Common SM1 and SM2 */
@media all and (min-width: 768px) and (max-width: 1379px) {
  body {
    zoom: 0.57;
  }
}
/* SM1 */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .c-wrapper {
    width: 1280px;
  }
}
/* SM2 */
@media all and (min-width: 1024px) and (max-width: 1379px) {
  .c-wrapper {
    width: 1280px;
  }
}
/* Common MD and LG */
/* MD */
@media all and (min-width: 1380px) and (max-width: 1679px) {
  body {
    zoom: 0.861;
  }

  .c-wrapper {
    width: 1360px;
  }
}
/* LG */
@media all and (min-width: 1680px) {
  .c-wrapper {
    width: 1360px;
  }
}
/* Common xs1, xs2 */
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-01 .c-wrapper {
    display: flex;
    width: 100%;
    margin-left: calc((100% - 1360px) / 2);
  }
  .section-01 .c-wrapper .container-01 {
    width: 616px;
    padding-right: 120px;
  }
  .section-01 .c-wrapper .container-01 .item {
    color: #0068C7;
    font-size: 18px;
    font-weight: 500;
  }
  .section-01 .c-wrapper .container-01 .item-01 {
    color: #000;
    font-size: 64px;
    font-weight: 600;
  }
  .section-01 .c-wrapper .container-01 .item-02 {
    color: #1A4359;
    font-size: 16px;
    font-weight: 400;
    padding-right: 114px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .section-01 .c-wrapper .container-02 {
    flex: 1;
  }
  .section-01 .c-wrapper .container-02 .item-03 {
    width: 100%;
    height: 705px;
    object-fit: cover;
  }
}
/* Common xs1, xs2 */
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .btn-01 {
    border-radius: 10px;
    background: #0066C1;
    display: inline-flex;
    padding: 18px 47.28px 19px 47px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
  }
}
/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .parenterror input[type=text].error {
    color: #A32F2A !important;
    border: 2px solid #A32F2A !important;
  }
  .parenterror input[type=text].error::placeholder {
    color: #A32F2A !important;
  }
  .parenterror #email.error {
    font-weight: 500 !important;
    color: #A32F2A !important;
    line-height: 15px !important;
    font-size: 12px !important;
  }
  .parenterror #chk-box-confirm ~ .chk-label-01 {
    border: 2px solid #941313;
  }
  .parenterror #chk-box-confirm ~ .chk-label-01 {
    color: #941313;
  }
  .parenterror #chk-box-confirm-error {
    display: none !important;
  }
  .parenterror #email-error, .parenterror #radio-error {
    display: none !important;
  }
}
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .parenterror input[type=text].error {
    color: #A32F2A !important;
    border: 2px solid #A32F2A !important;
  }
  .parenterror input[type=text].error::placeholder {
    color: #A32F2A !important;
  }
  .parenterror #email-error.error {
    position: absolute;
    right: 0;
    font-weight: 500 !important;
    color: #A32F2A !important;
    line-height: 15px !important;
    font-size: 12px !important;
    top: 6px;
  }
  .parenterror #chk-box-confirm ~ .chk-label-01 {
    border: 2px solid #941313;
  }
  .parenterror #chk-box-confirm ~ .chk-label-01 {
    color: #941313;
  }
  .parenterror #chk-box-confirm-error {
    display: none !important;
  }
  .parenterror #email-error, .parenterror #radio-error {
    display: none !important;
  }
}
.chk-A > label {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  display: inline-flex;
}
.chk-A > label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  background-color: transparent;
}
.chk-A [type=checkbox]:checked ~ label::before,
.chk-A [type=radio]:checked ~ label::before {
  background-position: center center;
  background-repeat: no-repeat;
}
.chk-A:hover > label::before {
  border: 1px solid #BD9A5F;
}
.chk-A [type=checkbox]:disabled ~ label,
.chk-A [type=radio]:disabled ~ label {
  cursor: not-allowed;
}
.chk-A [type=checkbox]:disabled ~ label::before,
.chk-A [type=radio]:disabled ~ label::before {
  border: none;
  background-color: #e9e9e9;
}
.chk-A [type=checkbox].error ~ label::before,
.chk-A [type=radio].error ~ label::before {
  background-color: transparent;
}
.chk-A.chk-large {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125em;
  line-height: 151.6%;
  /* identical to box height, or 20px */
  color: #646464;
}
.chk-A.chk-large > :nth-child(2) {
  min-width: 20px;
  min-height: 20px;
  padding: 0 0 0 34px;
}
.chk-A.chk-large > :nth-child(2)::before {
  width: 20px;
  height: 20px;
  border: 1px solid #BD9A5F;
  border-radius: 0;
  transition: background-color 0.2s, border 0.2s;
}
.chk-A.chk-large [type=checkbox]:checked ~ label::before,
.chk-A.chk-large [type=radio]:checked ~ label::before {
  border: "" !important;
  background-size: 20px;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M13.5%204.50049L6.5%2011.5002L3%208.00049%22%20stroke%3D%22black%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20");
  background-color: transparent;
}
.chk-A.chk-medium > :nth-child(2) {
  min-width: 20px;
  min-height: 20px;
  padding: 0 0 0 0;
}
.chk-A.chk-medium > :nth-child(2)::before {
  width: 20px;
  height: 20px;
  border: 1px solid #373A37;
  border-radius: 0;
  transition: background-color 0.2s, border 0.2s;
}
.chk-A.chk-medium [type=checkbox]:checked ~ label::before,
.chk-A.chk-medium [type=radio]:checked ~ label::before {
  border: "" !important;
  background-size: 14px;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M5.74888%2010.0625L2.625%206.96435L3.61902%205.97852L5.74888%208.09084L10.3785%203.5L11.375%204.48211L5.74888%2010.0625Z%22%20fill%3D%22%230072B6%22%2F%3E%20%3C%2Fsvg%3E%20");
  background-color: transparent;
}
.chk-A.chk-slim > :nth-child(2) {
  min-width: 16px;
  min-height: 16px;
  padding: 0 0 0 24px;
}
.chk-A.chk-slim > :nth-child(2)::before {
  width: 16px;
  height: 16px;
  border: 1px solid #7D8285;
  border-radius: 0;
  transition: background-color 0.2s, border 0.2s;
}
.chk-A.chk-slim [type=checkbox]:checked ~ label::before,
.chk-A.chk-slim [type=radio]:checked ~ label::before {
  border: "" !important;
  background-size: 12px;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M10.125%203.37598L4.875%208.62574L2.25%206.00098%22%20stroke%3D%22%23373A37%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20");
  background-color: transparent;
}

.chk-B {
  display: flex;
}
.chk-B > span {
  display: flex;
  align-items: center;
  font-size: 0.875em;
}
.chk-B > span::before {
  content: "";
  display: block;
  width: 42px;
  height: 24px;
  border-radius: 30px;
  background-color: rgba(125, 130, 133, 0.5);
  transition: background-color 0.2s, border 0.2s;
  cursor: pointer;
}
.chk-B > span::after {
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  left: 4px;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
  cursor: pointer;
}
.chk-B > span > span {
  width: calc(100% - 50px);
}
.chk-B [type=checkbox]:checked ~ span::before {
  background-color: #373A37;
}
.chk-B [type=checkbox]:checked ~ span::after {
  -webkit-transform: translateX(16px);
  -moz-transform: translateX(16px);
  -ms-transform: translateX(16px);
  -o-transform: translateX(16px);
  transform: translateX(16px);
  background-color: #fff;
}

/* Common xs1, xs2 */
/* Common sm, md, lg */
.comp-header-01 {
  position: fixed;
  width: 100%;
  top: 35px;
  z-index: 200;
  -moz-transition: transform 0.25s, background 0.25s, box-shadow 0.25s;
  -o-transition: transform 0.25s, background 0.25s, box-shadow 0.25s;
  -webkit-transition: transform 0.25s, background 0.25s, box-shadow 0.25s;
  transition: transform 0.25s, background 0.25s, box-shadow 0.25s;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
}
.comp-header-01 .c-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 137px;
  -moz-transition: height 0.25s;
  -o-transition: height 0.25s;
  -webkit-transition: height 0.25s;
  transition: height 0.25s;
}
.comp-header-01 #site-logo {
  z-index: 2;
}
.comp-header-01 #site-logo .logo-1 {
  display: none;
}
.comp-header-01 #site-logo .logo-3 {
  display: none;
}
.comp-header-01 #site-logo .logo-4 {
  display: none;
}
.comp-header-01 #menu-primary {
  z-index: 1;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  left: 0;
}
.comp-header-01 #menu-primary ul {
  display: flex;
  height: 24px;
  align-items: center;
}
.comp-header-01 #menu-primary ul li:not(:last-child) {
  margin-right: 31px;
}
.comp-header-01 #menu-primary ul li:not(:last-child):after {
  content: "";
  position: absolute;
  right: -16px;
  top: 0;
  height: 24px;
  width: 1px;
  background: #BBBBBB;
  opacity: 0.41;
  -moz-transition: background 0.25s;
  -o-transition: background 0.25s;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}
.comp-header-01 #menu-primary ul li a {
  font-weight: 400;
  font-size: 0.75em;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #000;
  -moz-transition: border-bottom 0.25s, color 0.25s;
  -o-transition: border-bottom 0.25s, color 0.25s;
  -webkit-transition: border-bottom 0.25s, color 0.25s;
  transition: border-bottom 0.25s, color 0.25s;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.comp-header-01 #menu-primary ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background: #000;
  visibility: hidden;
  opacity: 0;
  -moz-transition: background 0.25s, visibility 0s 0.25s, opacity 0.25s;
  -o-transition: background 0.25s, visibility 0s 0.25s, opacity 0.25s;
  -webkit-transition: background 0.25s, visibility 0s 0.25s, opacity 0.25s;
  transition: background 0.25s, visibility 0s 0.25s, opacity 0.25s;
}
.comp-header-01 #menu-primary ul li:hover a:after {
  visibility: visible;
  opacity: 1;
  -moz-transition: visibility 0s 0s, opacity 0.35s;
  -o-transition: visibility 0s 0s, opacity 0.35s;
  -webkit-transition: visibility 0s 0s, opacity 0.35s;
  transition: visibility 0s 0s, opacity 0.35s;
}

.header-top {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 0.8125em;
  line-height: 17px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  left: 0px;
  top: 0px;
  background: #015D4F;
  position: fixed;
}

.tranparent-header .header-top {
  display: none;
}
.tranparent-header .comp-header-01 {
  transform: translateY(-35px);
  background: transparent;
  box-shadow: none;
}
.tranparent-header .comp-header-01 #site-logo .logo-1 {
  display: block;
}
.tranparent-header .comp-header-01 #site-logo .logo-2 {
  display: none;
}
.tranparent-header .comp-header-01 #menu-primary ul li:not(:last-child):after {
  background: #FFFFFF;
}
.tranparent-header .comp-header-01 #menu-primary ul li a {
  color: #FFFFFF;
  font-weight: 600;
}
.tranparent-header .comp-header-01 #menu-primary ul li a:after {
  background: #FFFFFF;
}
.tranparent-header .comp-header-01 #activity-container .c-item-01 {
  color: #FFFFFF;
  font-weight: 600;
}
.tranparent-header .comp-header-01 #activity-container .c-item-01 .c-item-01-A {
  display: block;
}
.tranparent-header .comp-header-01 #activity-container .c-item-01 .c-item-01-B {
  display: none;
}
.tranparent-header .comp-header-01 #activity-container .c-item-01 span {
  padding-top: 1px;
}
.tranparent-header .comp-header-01 #activity-container .c-item-02 .c-item-02-A {
  display: block;
}
.tranparent-header .comp-header-01 #activity-container .c-item-02 .c-item-02-B {
  display: none;
}

.f-scrolled .header-top {
  display: none;
}
.f-scrolled .comp-header-01 {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
  transform: translateY(-35px);
}
.f-scrolled .comp-header-01 .c-wrapper {
  height: 69px;
}
.f-scrolled .comp-header-01 #site-logo .logo-1 {
  display: none;
}
.f-scrolled .comp-header-01 #site-logo .logo-2 {
  display: none;
}
.f-scrolled .comp-header-01 #site-logo .logo-3 {
  display: block;
}
.f-scrolled .comp-header-01 #menu-primary ul li:not(:last-child):after {
  background: #BBBBBB;
}
.f-scrolled .comp-header-01 #menu-primary ul li a {
  color: #000;
  font-weight: 400;
}
.f-scrolled .comp-header-01 #menu-primary ul li a:after {
  background: #000;
}
.f-scrolled .comp-header-01 #activity-container .c-item-01 {
  color: #000;
  font-weight: 400;
}
.f-scrolled .comp-header-01 #activity-container .c-item-01 .c-item-01-A {
  display: none;
}
.f-scrolled .comp-header-01 #activity-container .c-item-01 .c-item-01-B {
  display: block;
}
.f-scrolled .comp-header-01 #activity-container .c-item-02 {
  margin-left: 15px;
}
.f-scrolled .comp-header-01 #activity-container .c-item-02 .c-item-02-A {
  display: none;
}
.f-scrolled .comp-header-01 #activity-container .c-item-02 .c-item-02-B {
  display: block;
}
.f-scrolled .comp-header-01 #activity-container .c-item-02 .c-item-02-C {
  display: none;
}

.menu-header {
  border-bottom: 1px solid #08695A;
  height: 177px;
}
.menu-header .c-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: scale(1.4);
  transition: transform 0.4s;
}
.menu-header .c-wrapper .c-item-01 {
  z-index: 2;
  display: flex;
}
.menu-header .c-wrapper .c-item-01 > a {
  font-weight: 600;
  font-size: 1em;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  -moz-transition: border-bottom 0.25s, color 0.25s;
  -o-transition: border-bottom 0.25s, color 0.25s;
  -webkit-transition: border-bottom 0.25s, color 0.25s;
  transition: border-bottom 0.25s, color 0.25s;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.menu-header .c-wrapper .c-item-01 > a:not(:last-child) {
  margin-right: 40px;
}
.menu-header .c-wrapper .c-item-01 > a:not(:last-child):after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  height: 24px;
  width: 1px;
  background: #FFFFFF;
  opacity: 0.41;
}
.menu-header .c-wrapper .c-item-01 > a:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background: #FFFFFF;
  visibility: hidden;
  opacity: 0;
  -moz-transition: background 0.25s, visibility 0s 0.25s, opacity 0.25s;
  -o-transition: background 0.25s, visibility 0s 0.25s, opacity 0.25s;
  -webkit-transition: background 0.25s, visibility 0s 0.25s, opacity 0.25s;
  transition: background 0.25s, visibility 0s 0.25s, opacity 0.25s;
}
.menu-header .c-wrapper .c-item-01 > a:hover:before {
  visibility: visible;
  opacity: 1;
  -moz-transition: visibility 0s 0s, opacity 0.35s;
  -o-transition: visibility 0s 0s, opacity 0.35s;
  -webkit-transition: visibility 0s 0s, opacity 0.35s;
  transition: visibility 0s 0s, opacity 0.35s;
}
.menu-header .c-wrapper .c-item-02 {
  z-index: 1;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  left: 0;
}
.menu-header .c-wrapper .c-item-03 {
  z-index: 2;
  display: flex;
  align-items: center;
}
.menu-header .c-wrapper .c-item-03 .c-item-03-A {
  font-weight: 400;
  font-size: 1em;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-right: 12px;
  display: flex;
  align-items: center;
}
.menu-header .c-wrapper .c-item-03 .c-item-03-A svg {
  margin-right: 4px;
}
.menu-header .c-wrapper .c-item-03 .c-item-03-B {
  margin-left: 46px;
}
.menu-header .c-wrapper .c-item-04 {
  display: none;
}
.menu-header .menu-reserv {
  display: none;
}

.menu-body {
  flex: 1;
  padding: 25px 0;
}
.menu-body .c-wrapper {
  height: 100%;
  display: flex;
}
.menu-body .c-wrapper > .menu-img-container {
  height: 100%;
  margin-right: 78px;
  width: 333px;
}
.menu-body .c-wrapper > .menu-img-container .menu-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 333px;
  object-fit: cover;
  visibility: hidden;
  opacity: 0;
  -moz-transition: visibility 0s 0.25s, opacity 0.25s;
  -o-transition: visibility 0s 0.25s, opacity 0.25s;
  -webkit-transition: visibility 0s 0.25s, opacity 0.25s;
  transition: visibility 0s 0.25s, opacity 0.25s;
}
.menu-body .c-wrapper > .menu-img-container .menu-img.active-img {
  visibility: visible;
  opacity: 1;
  -moz-transition: visibility 0s 0s, opacity 0.35s;
  -o-transition: visibility 0s 0s, opacity 0.35s;
  -webkit-transition: visibility 0s 0s, opacity 0.35s;
  transition: visibility 0s 0s, opacity 0.35s;
}
.menu-body .c-wrapper > nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.menu-body .c-wrapper > nav > ul {
  max-height: 100%;
  padding-right: 180px;
}
.menu-body .c-wrapper > nav > ul > li:not(:last-child) {
  margin-bottom: 20px;
}
.menu-body .c-wrapper > nav > ul > li > a {
  font-weight: 500;
  font-size: 2.8125em;
  line-height: 60px;
  color: #699F97;
  transition: color 0.25s;
  font-family: "Playfair Display";
}
.menu-body .c-wrapper > nav > ul > li > a .arrows svg:first-child {
  position: absolute;
  bottom: 16px;
  left: 8px;
  visibility: visible;
  opacity: 1;
  -moz-transition: visibility 0s 0s, opacity 0.25s;
  -o-transition: visibility 0s 0s, opacity 0.25s;
  -webkit-transition: visibility 0s 0s, opacity 0.25s;
  transition: visibility 0s 0s, opacity 0.25s;
}
.menu-body .c-wrapper > nav > ul > li > a .arrows svg:last-child {
  position: absolute;
  bottom: 16px;
  left: 8px;
  visibility: hidden;
  opacity: 0;
  -moz-transition: visibility 0s 0.25s, opacity 0.25s, transform 0.35s;
  -o-transition: visibility 0s 0.25s, opacity 0.25s, transform 0.35s;
  -webkit-transition: visibility 0s 0.25s, opacity 0.25s, transform 0.35s;
  transition: visibility 0s 0.25s, opacity 0.25s, transform 0.35s;
}
.menu-body .c-wrapper > nav > ul > li > a .arrows svg.mobile-arrow {
  bottom: 4px;
}
.menu-body .c-wrapper > nav > ul > li > a:hover {
  color: #FFF;
}
.menu-body .c-wrapper > nav > ul > li > a:hover .arrows svg:first-child {
  visibility: hidden;
  opacity: 0;
  -moz-transition: visibility 0s 0.25s, opacity 0.25s;
  -o-transition: visibility 0s 0.25s, opacity 0.25s;
  -webkit-transition: visibility 0s 0.25s, opacity 0.25s;
  transition: visibility 0s 0.25s, opacity 0.25s;
}
.menu-body .c-wrapper > nav > ul > li > a:hover .arrows svg:last-child {
  visibility: visible;
  opacity: 1;
  -moz-transition: visibility 0s 0s, opacity 0.25s, transform 0.35s;
  -o-transition: visibility 0s 0s, opacity 0.25s, transform 0.35s;
  -webkit-transition: visibility 0s 0s, opacity 0.25s, transform 0.35s;
  transition: visibility 0s 0s, opacity 0.25s, transform 0.35s;
}
.menu-body .c-wrapper > nav > ul > li > .expandingStatus ul {
  padding: 12px 0 18px 4px;
}
.menu-body .c-wrapper > nav > ul > li > .expandingStatus ul li:not(:last-child) {
  margin-bottom: 2px;
}
.menu-body .c-wrapper > nav > ul > li > .expandingStatus ul li > a {
  font-weight: 400;
  font-size: 1em;
  line-height: 158.6%;
  color: #FFFFFF;
  transition: color 0.25s;
  font-family: "Playfair Display";
}
.menu-body .c-wrapper > nav > ul > li > .expandingStatus ul li > a:hover {
  color: #FFF;
}
.menu-body .c-wrapper > nav > ul > li.on > a {
  color: #FFF;
}
.menu-body .c-wrapper > nav > ul > li.on > a .arrows svg:first-child {
  visibility: hidden;
  opacity: 0;
  -moz-transition: visibility 0s 0.25s, opacity 0.25s;
  -o-transition: visibility 0s 0.25s, opacity 0.25s;
  -webkit-transition: visibility 0s 0.25s, opacity 0.25s;
  transition: visibility 0s 0.25s, opacity 0.25s;
}
.menu-body .c-wrapper > nav > ul > li.on > a .arrows svg:last-child {
  visibility: visible;
  opacity: 1;
  -moz-transition: visibility 0s 0s, opacity 0.35s, transform 0.35s;
  -o-transition: visibility 0s 0s, opacity 0.35s, transform 0.35s;
  -webkit-transition: visibility 0s 0s, opacity 0.35s, transform 0.35s;
  transition: visibility 0s 0s, opacity 0.35s, transform 0.35s;
  transform: rotate(180deg);
}
.menu-body .bg-menu-img {
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.35s;
}
.menu-body .bg-menu-img-mobile {
  display: none;
}

.menu-footer {
  border-top: 1px solid #08695A;
  height: 80px;
}
.menu-footer .c-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-footer .c-item-01 {
  display: flex;
}
.menu-footer .c-item-01 a {
  display: flex;
  font-weight: 500;
  font-size: 0.875em;
  line-height: 18px;
  color: #FFFFFF;
  transition: transform 0.2s;
}
.menu-footer .c-item-01 a:hover {
  transform: scale(1.04);
}
.menu-footer .c-item-01 a:not(:last-child) {
  margin-right: 16px;
}
.menu-footer .c-item-02 {
  display: flex;
}
.menu-footer .c-item-02 a {
  display: flex;
  transition: transform 0.25s;
}
.menu-footer .c-item-02 a:hover {
  transform: scale(1.1);
}
.menu-footer .c-item-02 a:not(:last-child) {
  margin-right: 12px;
}
.menu-footer .c-item-02 a svg:last-child {
  display: none;
}
.menu-footer .c-item-03 {
  display: none;
}

.dir-f-menu {
  background-color: #015D4F !important;
}
.dir-f-menu .menu-header .c-wrapper {
  transform: scale(1);
}
.dir-f-menu .menu-body .bg-menu-img, .dir-f-menu .menu-body .bg-menu-img-mobile {
  opacity: 1;
}

/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .header-top {
    display: none;
  }

  .tranparent-header .comp-header-01, .comp-header-01 {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
    top: 0;
    transform: translateY(0);
  }
  .tranparent-header .comp-header-01 .c-wrapper, .comp-header-01 .c-wrapper {
    height: 71px;
  }
  .tranparent-header .comp-header-01 #site-logo .logo-1, .comp-header-01 #site-logo .logo-1 {
    display: none;
  }
  .tranparent-header .comp-header-01 #site-logo .logo-2, .comp-header-01 #site-logo .logo-2 {
    display: none;
  }
  .tranparent-header .comp-header-01 #site-logo .logo-3, .comp-header-01 #site-logo .logo-3 {
    display: none;
  }
  .tranparent-header .comp-header-01 #site-logo .logo-4, .comp-header-01 #site-logo .logo-4 {
    display: block;
  }
  .tranparent-header .comp-header-01 #menu-primary, .comp-header-01 #menu-primary {
    display: none;
  }
  .tranparent-header .comp-header-01 #activity-container .c-item-01, .comp-header-01 #activity-container .c-item-01 {
    display: none;
  }
  .tranparent-header .comp-header-01 #activity-container .c-item-02, .comp-header-01 #activity-container .c-item-02 {
    margin-left: 0;
  }
  .tranparent-header .comp-header-01 #activity-container .c-item-02 .c-item-02-A, .comp-header-01 #activity-container .c-item-02 .c-item-02-A {
    display: none;
  }
  .tranparent-header .comp-header-01 #activity-container .c-item-02 .c-item-02-B, .comp-header-01 #activity-container .c-item-02 .c-item-02-B {
    display: none;
  }
  .tranparent-header .comp-header-01 #activity-container .c-item-02 .c-item-02-C, .comp-header-01 #activity-container .c-item-02 .c-item-02-C {
    display: none;
  }
  .tranparent-header .comp-header-01 #activity-container .c-item-02 .c-item-02-D, .comp-header-01 #activity-container .c-item-02 .c-item-02-D {
    display: block;
  }

  main {
    transform: translateY(71px);
    margin-bottom: 71px;
  }

  .home-page main {
    transform: translateY(0);
    margin-bottom: 0;
  }
  .home-page .comp-header-01 {
    transform: translateY(0);
    background: transparent;
    box-shadow: none;
  }
  .home-page .comp-header-01 #site-logo .logo-1 {
    display: block;
    width: 77.95px;
    height: 46px;
  }
  .home-page .comp-header-01 #site-logo .logo-2 {
    display: none;
  }
  .home-page .comp-header-01 #site-logo .logo-4 {
    display: none;
  }
  .home-page .comp-header-01 #activity-container .c-item-02 .c-item-02-A {
    display: block;
  }
  .home-page .comp-header-01 #activity-container .c-item-02 .c-item-02-B {
    display: none;
  }
  .home-page .comp-header-01 #activity-container .c-item-02 .c-item-02-D {
    display: none;
  }

  .f-scrolled .comp-header-01 {
    transform: translateY(0);
    margin-bottom: 0;
  }
  .f-scrolled .comp-header-01 .c-wrapper {
    height: 71px;
  }
  .f-scrolled .comp-header-01 #site-logo .logo-3 {
    display: none;
  }
  .f-scrolled .comp-header-01 #activity-container .c-item-02 {
    margin-left: 0;
  }
  .f-scrolled .comp-header-01 #activity-container .c-item-02 .c-item-02-C {
    display: none;
  }
  .f-scrolled .comp-header-01 #activity-container .c-item-02 .c-item-02-B {
    display: none;
  }
  .f-scrolled.home-page .comp-header-01 {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
  }
  .f-scrolled.home-page .comp-header-01 #site-logo .logo-1 {
    display: none;
  }
  .f-scrolled.home-page .comp-header-01 #site-logo .logo-2 {
    display: none;
  }
  .f-scrolled.home-page .comp-header-01 #site-logo .logo-4 {
    display: block;
  }
  .f-scrolled.home-page .comp-header-01 #activity-container .c-item-02 .c-item-02-A {
    display: none;
  }
  .f-scrolled.home-page .comp-header-01 #activity-container .c-item-02 .c-item-02-B {
    display: none;
  }
  .f-scrolled.home-page .comp-header-01 #activity-container .c-item-02 .c-item-02-D {
    display: block;
  }

  .menu-header {
    border-bottom: none;
    height: 71px;
    background: #015D4F;
  }
  .menu-header .c-wrapper {
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: scale(1);
  }
  .menu-header .c-wrapper .c-item-01 {
    display: none;
  }
  .menu-header .c-wrapper .c-item-02 {
    z-index: 1;
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
  }
  .menu-header .c-wrapper .c-item-02 svg {
    width: 77.95px;
  }
  .menu-header .c-wrapper .c-item-03 {
    display: none;
  }
  .menu-header .c-wrapper .c-item-04 {
    display: flex;
  }
  .menu-header .menu-reserv {
    background: #BD9A5F;
    height: 39px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 0.8125em;
    line-height: 17px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    z-index: 4;
  }

  .menu-body {
    flex: 1;
    padding: 25px 0;
    background: #FFF;
    z-index: 1;
  }
  .menu-body .c-wrapper {
    height: 100%;
    display: flex;
    z-index: 2;
  }
  .menu-body .c-wrapper > .menu-img-container {
    display: none;
  }
  .menu-body .c-wrapper > nav {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .menu-body .c-wrapper > nav > ul {
    width: 100%;
    max-height: 100%;
    padding-right: 0;
  }
  .menu-body .c-wrapper > nav > ul > li:not(:last-child) {
    margin-bottom: 20px;
  }
  .menu-body .c-wrapper > nav > ul > li > a {
    font-weight: 500;
    font-size: 1.5625em;
    line-height: 33px;
    color: #015D4F;
  }
  .menu-body .c-wrapper > nav > ul > li > a .arrows svg:first-child {
    display: none;
  }
  .menu-body .c-wrapper > nav > ul > li > a .arrows svg:last-child {
    display: none;
  }
  .menu-body .c-wrapper > nav > ul > li > a .arrows svg .mobile-arrow {
    display: block;
  }
  .menu-body .c-wrapper > nav > ul > li > a:hover {
    color: #015D4F;
  }
  .menu-body .c-wrapper > nav > ul > li > .expandingStatus ul {
    padding: 12px 0 18px 4px;
  }
  .menu-body .c-wrapper > nav > ul > li > .expandingStatus ul li:not(:last-child) {
    margin-bottom: 2px;
  }
  .menu-body .c-wrapper > nav > ul > li > .expandingStatus ul li > a {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 33px;
    color: #015D4F;
  }
  .menu-body .c-wrapper > nav > ul > li > .expandingStatus ul li > a:hover {
    color: #015D4F;
  }
  .menu-body .c-wrapper > nav > ul > li.on > a {
    color: #015D4F;
  }
  .menu-body .bg-menu-img {
    display: none;
  }
  .menu-body .bg-menu-img-mobile {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.35s;
  }

  .menu-footer {
    border-top: 1px solid rgba(1, 93, 79, 0.2);
    height: 148px;
    background: #FFF;
    z-index: 5;
  }
  .menu-footer .c-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .menu-footer .c-item-01 {
    display: none;
  }
  .menu-footer .c-item-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(1, 93, 79, 0.2);
    height: 87px;
    width: 100%;
  }
  .menu-footer .c-item-02 a {
    display: flex;
    justify-content: center;
  }
  .menu-footer .c-item-02 a:hover {
    transform: scale(1);
  }
  .menu-footer .c-item-02 a:not(:last-child) {
    margin-right: 12px;
  }
  .menu-footer .c-item-02 a svg:first-child {
    display: none;
  }
  .menu-footer .c-item-02 a svg:last-child {
    display: block;
  }
  .menu-footer .c-item-03 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61px;
    width: 100%;
  }
  .menu-footer .c-item-03 a {
    font-weight: 600;
    font-size: 1em;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #015D4F;
    height: 24px;
    display: flex;
    align-items: center;
  }
  .menu-footer .c-item-03 a:first-child {
    margin-right: 40px;
  }
  .menu-footer .c-item-03 a:first-child:after {
    content: "";
    height: 24px;
    width: 1px;
    background: #015D4F;
    opacity: 0.41;
    position: absolute;
    top: 0;
    right: -20px;
  }
}
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  main {
    transform: translateY(172px);
    margin-bottom: 172px;
  }

  .tranparent-header main {
    transform: translateY(0);
    margin-bottom: 0;
  }

  .header-v2 main {
    transform: translateY(138px);
    margin-bottom: 138px;
  }
  .header-v2 .comp-header-01 .c-wrapper {
    height: 103px;
  }
  .header-v2 .comp-header-01 #site-logo {
    z-index: 2;
  }
  .header-v2 .comp-header-01 #site-logo .logo-1 {
    display: none;
  }
  .header-v2 .comp-header-01 #site-logo .logo-2 {
    display: none;
  }
  .header-v2 .comp-header-01 #site-logo .logo-3 {
    display: block;
  }
  .header-v2 .comp-header-01 #site-logo .logo-4 {
    display: none;
  }
  .header-v2.f-scrolled .comp-header-01 .c-wrapper {
    height: 69px;
  }

  .menu-body .c-wrapper > nav > ul > li > a .arrows svg.mobile-arrow {
    display: none;
  }
}
@media all and (min-width: 768px) and (max-width: 1379px) {
  .menu-body .c-wrapper > .menu-img-container {
    max-height: 600px;
    margin: auto 123px auto 0;
  }
}
/* Common xs1, xs2 */
/* Common sm, md, lg */
[data-expand] {
  height: 0;
  overflow: hidden;
  opacity: 0;
  -moz-transition: height 0.4s ease-in-out, opacity 0.3s;
  -o-transition: height 0.4s ease-in-out, opacity 0.3s;
  -webkit-transition: height 0.4s ease-in-out, opacity 0.3s;
  transition: height 0.4s ease-in-out, opacity 0.3s;
}
[data-expand].on {
  opacity: 1;
  -moz-transition: height 0.4s ease-in-out, opacity 1s;
  -o-transition: height 0.4s ease-in-out, opacity 1s;
  -webkit-transition: height 0.4s ease-in-out, opacity 1s;
  transition: height 0.4s ease-in-out, opacity 1s;
}
[data-expand].init-on {
  opacity: 1;
  height: auto;
}

#contentContainer #expandedContentContainer {
  display: none;
}
#contentContainer #shrinkContentBtn {
  display: none;
}
#contentContainer.on #expandedContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contentContainer.on #shrinkContentBtn {
  display: block;
}
#contentContainer.on #expandContentBtn {
  display: none;
}

.carousel__button.fancybox__button--thumbs, .carousel__button.fancybox__button--fullscreen, .carousel__button.fancybox__button--slideshow, .carousel__button.fancybox__button--zoom {
  display: none;
}

@keyframes scaleAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
[data-modal-section=content] {
  display: none;
}

#modal-wrapper.type-mdl {
  position: fixed;
  z-index: 1000;
  visibility: hidden;
  background-color: #fff;
  opacity: 0;
}
#modal-wrapper.type-mdl.dir-fade.size-lg {
  -moz-transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
  -o-transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
  transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
}
#modal-wrapper.type-mdl.dir-fade.size-sm {
  -moz-transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
  -o-transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
  transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
}
#modal-wrapper.type-mdl #modal-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}
#modal-wrapper.type-mdl #modal-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#modal-wrapper.type-mdl #modal-body {
  flex: 1;
  overflow-y: auto;
}
#modal-wrapper.type-mdl #modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#modal-wrapper.type-mdl #modal-footer.footer-01 {
  justify-content: center !important;
}
#modal-wrapper.type-mdl #modal-footer .lnkBtnModalPrimary, #modal-wrapper.type-mdl #modal-footer .lnkBtnModalSecondary, #modal-wrapper.type-mdl #modal-footer .lnkBtnModalTertiary {
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-wrapper.type-mdl #modal-close {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
  opacity: 0;
  -moz-transition: transform 0.25s ease, opacity 0.3s 0.2s;
  -o-transition: transform 0.25s ease, opacity 0.3s 0.2s;
  -webkit-transition: transform 0.25s ease, opacity 0.3s 0.2s;
  transition: transform 0.25s ease, opacity 0.3s 0.2s;
}
#modal-wrapper.type-mdl #modal-close:hover {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
}
#modal-wrapper.type-mdl.on {
  visibility: visible;
  opacity: 1;
}
#modal-wrapper.type-mdl.on.dir-fade.size-lg {
  opacity: 1;
  -moz-transition: visibility 0s 0s, opacity 0.5s ease-in-out;
  -o-transition: visibility 0s 0s, opacity 0.5s ease-in-out;
  -webkit-transition: visibility 0s 0s, opacity 0.5s ease-in-out;
  transition: visibility 0s 0s, opacity 0.5s ease-in-out;
}
#modal-wrapper.type-mdl.on.dir-fade.size-sm {
  opacity: 1;
  -moz-transition: visibility 0s 0s, opacity 0.5s ease-in-out;
  -o-transition: visibility 0s 0s, opacity 0.5s ease-in-out;
  -webkit-transition: visibility 0s 0s, opacity 0.5s ease-in-out;
  transition: visibility 0s 0s, opacity 0.5s ease-in-out;
}
#modal-wrapper.type-mdl.on #modal-close {
  opacity: 1;
  -moz-transition: transform 0.25s ease, opacity 0.3s 0s;
  -o-transition: transform 0.25s ease, opacity 0.3s 0s;
  -webkit-transition: transform 0.25s ease, opacity 0.3s 0s;
  transition: transform 0.25s ease, opacity 0.3s 0s;
}
#modal-wrapper.type-mdl.size-lg {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  #modal-wrapper.type-mdl.size-lg {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  #modal-wrapper.type-mdl.size-sm {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media all and (min-width: 768px) {
  #modal-wrapper.type-mdl.size-lg {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  #modal-wrapper.type-mdl.size-sm {
    top: calc(50% - 305px);
    left: calc(50% - 224px);
    width: 448px;
    height: 610px;
  }
}
/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  .tabber-container .tabber-header {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 0 28px;
  }
  .tabber-container .tabber-header .tab-head-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .tabber-container .tabber-body {
    display: flex;
    flex-direction: column;
    transition: height 0.5s;
  }
  .tabber-container .tabber-body .tab-content-item {
    position: absolute;
    z-index: 0;
    top: -10000px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: visibility 0s 0.2s, position 0s 0.2s, opacity 0.2s;
  }
  .tabber-container .tabber-body .tab-content-item.on {
    position: relative;
    z-index: 1;
    top: auto;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0s, position 0s 0s, opacity 0.2s;
  }
}
/* XS1 */
/* XS2 */
/* Common SM1 and SM2 */
@media all and (min-width: 768px) and (max-width: 1379px) {
  .tabber-container .tabber-header {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }
  .tabber-container .tabber-header .tab-head-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .tabber-container .tabber-body {
    display: flex;
    flex-direction: column;
    transition: height 0.5s;
  }
  .tabber-container .tabber-body .tab-content-item {
    position: absolute;
    z-index: 0;
    top: -10000px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: visibility 0s 0.2s, position 0s 0.2s, opacity 0.2s;
  }
  .tabber-container .tabber-body .tab-content-item.on {
    position: relative;
    z-index: 1;
    top: auto;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0s, position 0s 0s, opacity 0.2s;
  }
}
/* SM1 */
/* SM2 */
/* Common MD and LG */
@media all and (min-width: 1380px) {
  .tabber-container .tabber-header {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }
  .tabber-container .tabber-header .tab-head-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .tabber-container .tabber-body {
    display: flex;
    flex-direction: column;
    transition: height 0.5s;
  }
  .tabber-container .tabber-body .tab-content-item {
    position: absolute;
    z-index: 0;
    top: -10000px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: visibility 0s 0.2s, position 0s 0.2s, opacity 0.2s;
  }
  .tabber-container .tabber-body .tab-content-item.on {
    position: relative;
    z-index: 1;
    top: auto;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0s, position 0s 0s, opacity 0.2s;
  }
}
/* MD */
/* LG */
/* Common xs1, xs2 */
/* Common sm, md, lg */
@font-face {
  font-family: "Playfair Display";
  src: url("../../../Content/Files/Fonts/SpaceGrotesk/PlayfairDisplay-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../../../Content/Files/Fonts/SpaceGrotesk/PlayfairDisplay-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../../../Content/Files/Fonts/SpaceGrotesk/SpaceGroteska-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../../../Content/Files/Fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../../../Content/Files/Fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../../../Content/Files/Fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../../../Content/Files/Fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf");
  font-weight: 700;
}
body {
  font-family: "Space Grotesk";
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=Base.css.map */
