@import '../Base/Global.scss';

//'Neulis Alt' default
@font-face {
  font-family: 'Neulis Alt';
  src: url('../../../Content/Files/Fonts/Neulis/NeulisAlt-Thin.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Neulis Alt';
  src: url('../../../Content/Files/Fonts/Neulis/NeulisAlt-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Neulis Alt';
  src: url('../../../Content/Files/Fonts/Neulis/NeulisAlt-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Neulis Alt';
  src: url('../../../Content/Files/Fonts/Neulis/NeulisAlt-SemiBold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Neulis Alt';
  src: url('../../../Content/Files/Fonts/Neulis/NeulisAlt-Bold.otf');
  font-weight: 700;
}

//'Neulis'

// @font-face {
//   font-family: 'Neulis';
//   src: url('../../../Content/Files/Fonts/Neulis/Neulis-Medium.otf');
//   font-weight: 500;
// }

//'Sacramento'
@font-face {
  font-family: 'Sacramento';
  src: url('../../../Content/Files/Fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf');
  font-weight: 400;
}

//'Over the Rainbow'
@font-face {
  font-family: 'Over the Rainbow';
  src: url('../../../Content/Files/Fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf');
  font-weight: 400;
}

//''Nothing You Could Do''
@font-face {
  font-family: 'Nothing You Could Do';
  src: url('../../../Content/Files/Fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf');
  font-weight: 400;
}

//'Roboto'
@font-face {
  font-family: 'Roboto';
  src: url('../../../Content/Files/Fonts/Roboto/roboto.regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../Content/Files/Fonts/Roboto/roboto.bold.ttf');
  font-weight: 700;
}

body {
  font-family: 'Neulis Alt';
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .header-01 {
    font-family: 'Neulis Alt';
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    text-align: center;
    color: #0066c1;
  }
  .header-02 {
    font-family: 'Neulis Alt';
    font-size: 54px;
    font-weight: 600;
    line-height: 58px;
    text-align: center;
    color: #0068c7;
  }
  .header-03 {
    font-family: 'Neulis Alt';
    font-size: 28px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #f31e2b;
  }

  .prg {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #1a4359;
  }

  .prg-02 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #1a4359;
  }

  .prg-03 {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

    text-align: left;
    color: #1a4359;
  }

  .prg-04 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #1a4359;
  }
  .prg-05 {
    color: #0066c1;
    font-family: 'Neulis Alt';
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
  }
}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
  .header-01 {
    font-family: 'Neulis Alt';
    font-size: 54px;
    font-weight: 500;
    line-height: 58px;
    text-align: center;
    color: #0066c1;
  }

  .header-02 {
    font-family: 'Neulis Alt';
    font-size: 54px;
    font-weight: 600;
    line-height: 58px;
    text-align: center;
    color: #0068c7;
  }
  .header-03 {
    font-family: 'Neulis Alt';
    font-size: 28px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #f31e2b;
  }

  .prg {
    font-family: 'Neulis Alt';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #1a4359;
  }

  .prg-02 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #1a4359;
  }

  .prg-03 {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

    text-align: left;
    color: #1a4359;
  }

  .prg-04 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #1a4359;
  }
  .prg-05 {
    font-family: 'Neulis Alt';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #0066c1;
  }
}
